[2017-11-01 06:32] emmanuel opened #7 "Does this support propagating context from an incoming request?"
Hi,

I was trying to set up and run through [the example that @aledbf ported from OpenZipkin](https://github.com/aledbf/zipkin-js-example/tree/kubernetes), which starts traces in the browser and propagates them through two backend services. So far, I haven't been able to get full trace propagation through Nginx.

With tracing support turned on in Nginx, the traces I see in Zipkin start with Nginx

[2017-11-01 18:30] rnburn commented on #7
nginx-opentracing does support span propagation, but I think what's going on here is that the zipkin javascript library is using V1 style spans with CS/SR/SS/CR annotations and a single span per RPC call; whereas the [zipkin c++ library](https://github.com/rnburn/zipkin-cpp-opentracing) currently only supports the V2 style spans. It can interoperate with something like [openzipkin/zipkin-go-opentr

[2017-11-01 21:19] emmanuel commented on #7
Thanks @rnburn, that makes total sense. I had missed that @aledbf's fork of openzipkin/zipkin-js-example was branched immediately prior to Zipkin v2 span support landing in both the JS library and the example. Nor did I have any inkling that that was a possible or probable cause of the propagation failure that I was observing.

I'm working on rebasing my changes, so I haven't actually seen context

[2017-11-02 09:50] kop opened #8 "Question: Can I configure a sampling rate?"
Hi,

Thank you for this module, looks really great.
However, I'm a little bit scary to enable this on production nginx. I was not able to find any control on amount tracing spans to create. Do I understand correctly that it will create a span for every request?

For high production traffic, it would be great to have an option to trace only, let's say, 0.5% or 1% of the requests.

[2017-11-02 16:49] rnburn commented on #8
Sampling is usually done as a feature of the tracing libraries. I'm ok adding it to [zipkin-cpp-opentracing](https://github.com/rnburn/zipkin-cpp-opentracing) and exposing it as an option.

I believe the Jaeger implementation already has a feature for [this](https://github.com/isaachier/nginx-opentracing/blob/master/jaeger/src/ngx_http_jaeger_module.cpp#L146), though I don't know if it's quite rea

[2017-11-02 22:47] kop commented on #8
@rnburn thank you for the answer.

Jaeger is the tracer I'm using and I'm asking because I don't know any way how to configure this in Jaeger agent. This option is available in all Jaeger client libraries and I was expecting it to be here too.

It would be great to have such option.

[2017-11-02 22:52] rnburn commented on #8
Adding @isaachier, @yurishkuro to see if they can answer.

I think the library is still under development so it may not have all the options yet.

[2017-11-02 22:57] isaachier commented on #8
Yes there is a way and I have a fork of this project in development now. Builds on docker but haven't tested it yet.

[2017-11-02 23:20] yurishkuro commented on #8
while Jaeger clients provide a way to configure sampling priority, the default mode we recommend is letting the clients pull the sampling strategy from Jaeger backend (cf. https://github.com/jaegertracing/jaeger/issues/365).

[2017-11-08 21:28] rnburn commented on #8
@kop I think this is the [option](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/jaeger/doc/Directives.md#jaeger_reporter_local_agent_host_port) to set the agent host and port if that's what you're looking for.

[2017-11-09 11:53] reynaldliu opened #10 "how can i transfer current request to proxypass request?"
English is not my native language, the following is translated by Google

How should I get the TraceId of the current request and put it in the header of http Pass in the next hop such as reverse proxy（proxy_pass ,upstream{}）.
X-B3-TraceId
X-B3-SpanId
X-B3-ParentSpanId
X-B3-Sampled
X-B3-Flags
I tried this setting unsuccessfully, in the back-end php-fpm did not get to this http header

e.g.
when i

[2017-11-09 19:18] rnburn commented on #10
Not completely sure I understand what you're asking, but there's an option [proxy_pass_request_headers](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/example/zoo/nginx.conf#L50) that can forward the request headers to the proxy if that's what you're looking for.

[2017-11-09 22:04] kop commented on #8
This sounds great and should be much easier to work with, however this is something from the future. We still need a way to set sampling rate for current usage.

Thank you, this is not exactly what was my question about :)

[2017-11-11 03:38] rnburn commented on #10
@reynaldliu -- were you able to get this to work? If not, could try clarifying your question.

[2017-11-13 22:25] emmanuel commented on #7
... well that was a bit longer than I expected. I've gone back and updated my "test harness" to use the latest version of openzipkin/zipkin-js-example, which is shipping spans in the V2 format. Also, I upgraded to a newer version of this module, still by way of the Kubernetes Nginx ingress; I'm running `0.9.0-beta.17`, which includes kubernetes/ingress-nginx#1580 ([your PR to include the latest re

[2017-11-14 21:19] rnburn commented on #8
@kop I just put in some fixes to make the Jaeger module work. I just did some testing and I believe writing something like this in your nginx.conf will give you what you want:
[code]
But note that there's a bug in Jaeger if you try to use a sample param of 100% (https://github.com/jaegertracing/cpp-client/issues/6).

@isaachier -- Could you document the different options available for [jaeger_samp

[2017-11-14 22:03] rnburn commented on #10
Closing since I haven't gotten a response.

[2017-11-14 22:03] #10 closed

[2017-11-15 20:55] isaachier commented on #8
Sure thing. Not sure when but soon enough.

[2017-11-16 19:42] rnburn commented on #8
Closing. If you also want sampling for zipkin, please put in an issue to https://github.com/rnburn/zipkin-cpp-opentracing.

[2017-11-16 19:42] #8 closed

[2017-11-29 22:23] rnburn commented on #7
I looked into this.

The problem is caused by a bug in zipkin's javascript library where it [checks](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/instrumentation/httpServer.js#L7) if a trace is sampled by comparing the value of the `x-b3-sampled` header to `"1"`; so it will treat traces with `x-b3-sampled == "true"` as unsampled.

[2017-11-30 02:48] rnburn commented on #7
I pushed some changes to [rnburn/zipkin-cpp-opentracing](https://github.com/rnburn/zipkin-cpp-opentracing) to make it compatible with zipkin-javascript.

I also added an [example](https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/browser) that shows how to set up nginx with client-side javascript.

[2017-11-30 02:48] #7 closed

[2017-11-30 04:27] sahriyarm opened #18 "What type of license it use?"

[2017-11-30 17:41] emmanuel commented on #7
Thanks @rnburn. Just for my own closure, I'll run through my set up again and report my results.

[2017-11-30 20:27] rnburn commented on #18
Added APACHE license. Thanks.

[2017-11-30 20:27] #18 closed

[2017-11-30 23:30] sahriyarm commented on #18
Thanks!

[2018-01-10 13:07] narayanasamyr opened #20 "Invalid duration time in Jaeger"
Hi,

I am trying to integrate nginx with jaeger, but in jaeger UI am getting long duration time for a nginx request.
When i hit / on my nginx server it takes less than a second to load, but in jaeger its showing 18+ seconds.

<img width="1444" alt="nginx-load-time" src="https://user-images.githubusercontent.com/31840870/34774196-68e9e63a-f634-11e7-86aa-89cd0f050cbb.png">

<img width="1444" alt="re

[2018-01-11 11:20] #20 closed

[2018-01-11 11:20] rnburn commented on #20
Thanks! I incorporated the change you suggested.

[2018-01-17 13:39] carlosjgp opened #22 "The Docker file doesn't build"
How to replicate
[code]
the error displayed is
[code]

[2018-01-17 13:57] carlosjgp commented on #22
https://hub.docker.com/r/rnburn/nginx-opentracing/tags/
I just saw that there is a new image pushed `v0.2.1` 6 days ago... which docker file did you use to do it?

[2018-01-17 14:00] rnburn commented on #22
Thanks it's caused by https://github.com/jaegertracing/cpp-client/issues/36

You can get it to build if you change
[code]
to
[code]

[2018-01-17 14:01] carlosjgp opened #23 "Building instructions are incomplete"
I can't build this dynamic library following the `README.md` instructions.
I try to replicate the process by using the same commands as the Docker image with no luck.

Can you please list the library versions compatible and tested with this module?

I also try to build only `opentracing-cpp` and `zipkin-cpp` libraries and only use those modules...
Everything builds successfully but when I try to u

[2018-01-17 14:08] rnburn commented on #23
Not sure what distribution you're using, but zipkin-opentracing requires libcurl. On ubuntu, you can install it with `apt-get install libcurl4-openssl-dev`.

Or if you already have it installed in some non-standard location, you need to set up ld-config so that it can find it.

[2018-01-17 14:12] rnburn commented on #23
The build instructions vary for which tracer backend you use. `curl` is listed as a dependency on https://github.com/rnburn/zipkin-cpp-opentracing, but it doesn't include installation instructions for it since that would depend on the environment you're using.

[2018-01-17 15:53] rnburn commented on #23
@carlosjgp were you able to get this to work?

[2018-01-18 10:33] carlosjgp commented on #22
That worked!

Should I create a PR to update the Dockerfile and the documentation?

[2018-01-18 10:35] carlosjgp commented on #23
I'm going to try the `ldconfig` suggestion...

Should I create a PR to update the documentation and make clear that these libraries are built for Debian/Ubuntu?

[2018-01-18 11:16] rnburn commented on #23
They're not just for Debian/Ubuntu. `curl` is available for most platforms.

[2018-01-18 11:18] rnburn commented on #22
Yes, please. It probably would be a good idea to change the Dockerfile to pull from the last release of the repositories instead of master.

[2018-01-22 12:20] rnburn commented on #23
Closing this since the `curl` dependency is listed on https://github.com/rnburn/zipkin-cpp-opentracing.

If you'd like an easier installation, you can put in a feature request for distribution packages.

[2018-01-22 12:20] #23 closed

[2018-01-23 16:04] rnburn commented on #22
Fixed in #24

[2018-01-23 16:04] #22 closed

[2018-03-02 10:05] narayanasamyr opened #29 "Dynamic opentracing operation name for each request"
i am not able to set the opentracing_operation_name dynamically for each request. Lets say if i have a variable which is initialised to nil in conf file and later i am setting the value based on some if condition, now i want to set the opentracing_operation_name by using the value of the variable.

**Scenario:**

set $test_variable nil;
blah...
blah...
proxy...
if (some-condition1)
  set $test_var

[2018-03-02 15:54] rnburn commented on #29
Thanks, could you provide a PR.

[2018-03-09 15:46] golonzovsky opened #30 "zipking sampling percentage configuration"
Currently there is no way (please correct me if I wrong) to specify sampling percentage for `Zipkin` tracer. This renders zipkin support not so usable on high load prod environments, as amount of traces generated is more than actual traffic.

Would it be possible to provide sampling param same as [for eg. jaeger](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/jaeger/doc/Direc

[2018-03-09 16:00] rnburn commented on #30
That's right. The zipkin [library](https://github.com/rnburn/zipkin-cpp-opentracing) doesn't provide sampling in the way jaeger does.

But I'd be happy to take a PR for it if it's something you'd like to work on.

[2018-03-14 16:16] rnburn commented on #29
@narayanasamyr - could you put in a PR for this?... it looks like you made the changes: https://github.com/narayanasamyr/nginx-opentracing/commit/214a558034a14b1fd22139dd02b87a3225eb9eec

[2018-03-14 17:00] narayanasamyr commented on #29
@rnburn PR provided

[2018-04-18 13:34] Sennahoi opened #33 "Add trace ids to nginx log"
Is it possible to add the trace ids to the nginx log file?

[2018-04-18 16:41] nwest1 commented on #33
I've been logging the headers as per nginx norm: `$http_x_b3_traceid` but that's not going to get you a full trace based on other nginx directives (like anything created with `opentracing_tag` or automatically-added metadata in `location`s)

It would be nice have the ability to log out the full trace(s) - or at least have access to the variables that might make those up. Are those available?

If t

[2018-04-18 21:59] jmprusi opened #34 "There isn't a release with "opentracing_load_tracer" support."
Hi!

We are trying to use nginx-opentracing for some of our projects, and we are adding opentracing support to our openresty base (https://github.com/3scale/s2i-openresty)

We want to use the opentracing_load_tracer directive, but there isn't any release which supports this.

Are you planning on releasing a new version of this project?

Thanks!

[2018-04-18 22:36] rnburn commented on #34
Added a release thank you.

[2018-04-18 22:36] #34 closed

[2018-04-18 22:56] jmprusi commented on #34
That was fast! Thanks @rnburn !

[2018-05-07 05:57] ssorathia opened #35 "Unable to set context header for jaeger"
I seem to be having an issue setting a custom header for the propagation of the traceid.

I have a config like the following:
[code]

However, when I issue a simple curl command against this endpoint, `curl localhost/dump`, the downstream service that gets proxied to still sees the `Uber-Trace-Id` header and my custom trace header is nowhere to be found.  I'm not sure if I'm doing something wrong,

[2018-05-07 13:36] rnburn commented on #35
Could you try adding `proxy_pass_request_headers on;`?

[2018-05-07 14:53] ssorathia commented on #35
I believe that is the default for that option, but I gave it a try and I see the same behavior.

[2018-05-07 14:58] rnburn commented on #35
@isaachier - any idea what's going on here?

[2018-05-07 15:06] isaachier commented on #35
Ya I think I just fixed this. See https://github.com/jaegertracing/jaeger-client-cpp/pull/91.

[2018-05-07 15:26] rnburn commented on #35
@ssorathia - that fix hasn't been released yet, but try rebuilding the docker image with these arguments:
[code]

[2018-05-07 15:26] isaachier commented on #35
Ya very sorry I didn't see this bug until recently.

[2018-05-07 15:53] ssorathia commented on #35
Ok, let me give it a try, I'll get back to you shortly.

[2018-05-07 16:32] ssorathia commented on #35
That looks like it resolved the issue!  The header seems to both be used for new trace's as well as if a trace id is passed in via the new header.  From my perspective, this is the expected behavior.

Thanks for the quick fixes, I can use what I have right now, but just wondering as to when you think this will be rolled into a release?

[2018-05-07 16:38] isaachier commented on #35
Hopefully I'll push a release within the next few days. If @rnburn is ready, a corresponding change here can be merged immediately afterwards.

[2018-05-07 18:27] ssorathia commented on #35
That would be awesome!  I'll keep an eye out for it.  Do you guys want to close this issue, want me to close it, or what is your process for these types of issues?

[2018-05-13 20:49] pingles commented on #30
I'd really like to have support for this too- @rnburn I can _try_ and take a look, do you have any suggestions about where you'd like to see support/how it would be implemented? I.e. perhaps some kind of `opentracing_sampler_probability 0.01;` type option?

Am I right in thinking that this should also set `X-B3-Sampled: 0` in the downstream tracing headers?

[2018-05-13 21:00] rnburn commented on #30
@pingles - yes that's correct it should set that sampled header.

Additionally, it should look at the standard opentracing `sampling.priority` tag -- described [here](https://github.com/opentracing/specification/blob/master/semantic_conventions.md).

You might check out
* Jaeger's [probabilistic sampler](
https://github.com/jaegertracing/jaeger-client-cpp/blob/master/src/jaegertracing/samplers/Pro

[2018-05-15 00:16] SEJeff opened #36 "Allow passing tags in for things like hostname or ip"
The `hostname` tag in an ingress controller pod ends up being the name of the container, something like `ingress-nginx-controller-xyzz123`. I'd like to use the kubernetes downward api to create an env var such as `NODE_NAME` that contains the actual hostname of the kubelet running. This way, traces from the ingress controller will show the actual hostname of the pod running this code.

It [doesn't

[2018-05-15 03:12] SEJeff commented on #36
@rnburn Yes I think that can work once a fix for jaegertracing/jaeger-client-cpp#105 makes it in. Thanks

[2018-05-15 16:19] rnburn commented on #36
@SEJeff - can I close this?

[2018-05-15 16:29] #36 closed

[2018-05-16 11:04] pingles commented on #30
I've started taking a look at this and trying to get my head around the interplay between the different modules.

Looking at the Jaeger module, the determination of whether to propagate the sampling decision, or determine whether to sample is done inside `::StartSpanWithOptions`. Would I be correct in thinking that the right place to inject the same logic for the Zipkin lib would be it's equivalen

[2018-05-16 16:27] pingles commented on #30
Ok cool, I found https://github.com/opentracing/specification/blob/master/specification.md and wasn't sure whether sampling was something that's tracer specific (and on a `SpanContext` like in the Jaeger lib, or associated to a `Span`). I've added the code to the place above, now trying to figure out why that's not propagating to the forwarded request's HTTP headers :)

[2018-05-16 17:35] pingles commented on #30
I've started working on this and I've managed to (brutally) get it to do the right thing (at least from observing the downstream request headers):

https://github.com/pingles/zipkin-cpp-opentracing/commit/67d68c671fd0a2cad29e8444f9872dedf4961a24

I'm going to try and carry on tomorrow- I need to fix everything that's referenced in the commit message, and additionally make sure that spans are only

[2018-05-16 17:52] rnburn commented on #30
Thanks @pingles - I went through and made a few suggestions.

[2018-05-16 21:09] pingles commented on #30
Awesome, thanks @rnburn- I'll make those changes tomorrow, appreciate the feedback.

[2018-05-17 10:25] pingles commented on #30
I've made a few more improvements- is there a recommended way to determine whether a span is the root or not? Looking at https://github.com/opentracing/opentracing-cpp/blob/master/include/opentracing/tracer.h#L39 suggests that if `references` was empty then it could be considered the root span and we could then consult a sampler to determine whether to sample?

[2018-05-17 10:48] pingles commented on #30
@rnburn I've copied the Jaeger implementation for determining whether a span is the root (checking whether references contains a `ChildOf` relationship. https://github.com/pingles/zipkin-cpp-opentracing/commit/d7628b250fe1991b6ce1308dbcb20040ab94ab0b

Unfortunately, it doesn't seem to work when I test it inside the nginx module- passing sample headers with curl:

[code]

I have a dummy app running

[2018-05-17 14:31] pingles commented on #30
Related to the above- the other B3 headers are propagated correctly so it's either an issue with the sampled header specifically, or, something to do with my implementation of:

[code]

[2018-05-17 16:42] rnburn commented on #30
@pingles - I think the parseBool function for reading the sampling header that I wrote might be the problem.
https://github.com/rnburn/zipkin-cpp-opentracing/blob/master/zipkin_opentracing/src/propagation.cc#L34-L46
it always returns true even if sampling is suppose to be off.

(Sorry)

[2018-05-17 16:46] rnburn commented on #30
Also, does
[code]
have a space in front of the header values? that might not work for propagation.

[2018-05-17 16:57] pingles commented on #30
@rnburn Ah... so `parseBool` returns whether the value could be parsed?

[code]

So that should change to:

[code]

[2018-05-17 17:20] rnburn commented on #30
Yes, that looks right. I think it's also hard-coded for inject: https://github.com/rnburn/zipkin-cpp-opentracing/blob/master/zipkin_opentracing/src/propagation.cc#L67

[2018-05-17 18:11] pingles commented on #30
Awesome, I’ll try both of those a little bit later and let you know how I
get on.

On Thu, 17 May 2018 at 18:20, Ryan <notifications@github.com> wrote:

[2018-05-17 20:36] pingles commented on #30
I've also just seen that `OtSpan` has nothing relating to sampling (but does copy other items like trace IDs etc.). It doesn't look like that has anything related to passing context along but does seem to be involved in sending the trace data?

[2018-05-17 21:46] pingles commented on #30
I'm an idiot- just seen there's some nice tests to build on, will start there to figure this out.

[2018-05-18 17:38] rnburn commented on #30
For the souldSample function, you don't want to be doing initializing every time like [this](https://github.com/pingles/zipkin-cpp-opentracing/blob/438942bf566813131812a374639b39413784feb5/zipkin_opentracing/src/sampling.cc#L7-L9) -- that's going to be slow (see the notes in the [example code](http://en.cppreference.com/w/cpp/numeric/random/random_device) here).

Instead could you add a function t

[2018-05-18 21:04] pingles commented on #30
@rnburn thanks. Is it fair to store them as members instead- and then it's only initialised when the sampler is contructed (when the tracer is)?

[code]

Or is it substantially better to use static? Also- is there any concern around thread-safe concurrent requests for numbers from the distribution, does it need to be guarded with some kind of mutex?

[2018-05-18 21:42] rnburn commented on #30
Yeah, that's what's done here: https://github.com/rnburn/zipkin-cpp-opentracing/blob/master/zipkin/src/utility.cc.

I was thinking add something like randomBool(double p) so that you can reuse that same rand_source variable that's already initialized.

But I think what you have is ok too.

[2018-05-18 22:12] pingles commented on #30
Ok cool, I'll go with that for now :-) I think there's two things left to do: 1) make sure that spans aren't reported unless they're sampled, 2) figure out why the randomisation doesn't seem to work from the nginx module (https://github.com/pingles/nginx-opentracing/commit/e7b586c02c7945218005a759fefc85da19158093).

Current behaviour is that whatever sampling decision is forwarded from the client

[2018-05-18 22:15] pingles commented on #30
Oh, and check the `sampling.priority` tag that you referenced in a comment above, so 3 things.

[2018-05-21 11:42] pingles commented on #30
I've updated the lib to only report sampled spans and am now debugging the issue with all spans being unsampled when used by the nginx module.

I've turned on the debug log and can see the following (with `opentracing_trace_locations off`):

[code]

It feels like there's something I've misunderstood in the way that spans are constructed around the request- that either the sampler is never called,

[2018-05-21 11:51] pingles commented on #30
Note to myself: it feels like it might be a case of checking whether a parent span is valid, not just that it exists: https://github.com/jaegertracing/jaeger-client-cpp/blob/master/src/jaegertracing/SpanContext.h#L150

[2018-05-21 21:54] pingles commented on #30
I _think_ everything in the underlying zipkin opentracing lib is now updated to support probabilistic sampling from within the nginx module (aside from propagating information through the tags also).

However, I'm still having issues using it within the nginx module: currently it looks like the sampling rate is incorrectly parsed- so ~1/10 requests are sampled when the sampling probability ought t

[2018-05-21 21:56] rnburn commented on #30
thanks @pavolloffay - let me know when you're ready, and I can take another look at it.

you might open up the PR, even if you're not finished - it will make it easier to review.

[2018-05-21 21:59] pingles commented on #30
Perfect- I'll just do that then

[2018-05-21 22:05] pingles commented on #30
I've just created the PR: https://github.com/rnburn/zipkin-cpp-opentracing/pull/20

[2018-05-30 16:55] rnburn commented on #30
Fixed with #38 (thank you @pingles )

[2018-05-30 16:55] #30 closed

[2018-06-03 23:57] #29 closed

[2018-06-12 01:20] blong14 opened #42 "php-fpm"
Hello,

I'm using nginx to proxy to php-fpm. How do I forward a span context to this type of backend?  I can set a fastcgi_param that is available in my backend but I'm not sure what the variable names are. Please forgive my ignorance with php, nginx, c++, etc. Not my typical stack.

Anyway, this is what I'm more or less trying to do:

`fastcgi_param HTTP_UBER_TRACE_ID $opentracing_context_trace_i

[2018-06-12 01:28] blong14 commented on #42
@rnburn thanks for the quick response!!

I'll wait for `opentracing_propagate_context` as that sounds like what I need (and I'm in no rush).

Thanks again.

[2018-06-18 01:44] blong14 commented on #42
@rnburn just saw #43 and wanted to say thanks!

[2018-06-20 02:48] rnburn commented on #42
@blong14 You're Welcome!

Fixed in #43. You can now use `opentracing_fastcgi_propagate_context`. See [here](https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/php/jaeger) for an example of how to set it up.

[2018-06-20 02:48] #42 closed

[2018-07-25 08:45] tiddlerhxy opened #48 "error：opentracing/dynamic_load.h：no the files or directory"
I use building from source,when make && make install ，make a mistake，the following information：

In file included from /usr/local/nginx-opentracing-master/opentracing//src/ngx_http_opentracing_module.cpp:1:0:
/usr/local/nginx-opentracing-master/opentracing//src/load_tracer.h:3:38: 致命错误：opentracing/dynamic_load.h：没有那个文件或目录
 #include <opentracing/dynamic_load.h>

[2018-07-25 14:39] rnburn commented on #48
You need to install [opentracing-cpp](https://github.com/opentracing/opentracing-cpp) first.

[2018-07-26 07:42] tiddlerhxy commented on #48
I have installed  opentracing-cpp, but when i make && make install ，another mistake,the following information:

/usr/local/nginx-opentracing-0.5.0/opentracing/src/discover_span_context_keys.cpp: 在构造函数‘ngx_opentracing::{anonymous}::HeaderKeyWriter::HeaderKeyWriter(ngx_pool_t*, std::vector<opentracing::v2::string_view>&)’中:
/usr/local/nginx-opentracing-0.5.0/opentracing/src/discover_span_context_key

[2018-07-26 09:59] tiddlerhxy commented on #48
I upgraded the GCC version to 5.5，solve the problem.

[2018-07-26 09:59] #48 closed

[2018-07-29 04:05] aledbf opened #50 "Unexpected error using gcc-8"
[code]

[2018-07-30 16:51] rnburn commented on #50
@aledbf - can you try the change in #51?

I build with gcc8 as part of the test [coverage](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/Dockerfile-test#L26), but the error doesn't show it with that version of gcc8.

[2018-07-30 17:26] aledbf commented on #50
It works :+1:

[2018-07-30 17:47] #50 closed

[2018-08-08 18:16] aledbf opened #52 "Question: is ok to get the same x-b3-traceid for different request without a root context?"
[code]

[2018-08-08 18:18] Stono commented on #52
This manifests for me as multiple requests being logged under the same trace!

<img width="1680" alt="screen shot 2018-08-08 at 19 07 47" src="https://user-images.githubusercontent.com/1486729/43856195-c2f6179c-9b3f-11e8-9939-7ede27801b26.png">

[2018-08-08 18:28] rnburn commented on #52
I was looking through the zipkin tracer, and it looks like it's using a 32-bit random number to seed the 64-bit random number generator, which would probably explain why it clashes sometimes.

I'll put in a fix so that this problem will be much less likely.

[2018-08-08 18:31] Stono commented on #52
Brilliant, thank you @rnburn

[2018-08-10 13:26] aledbf commented on #52
@rnburn any update on this? (apologies to ask this but I was planning to release a new version of the ingress controller)

[2018-08-10 16:37] rnburn commented on #52
@aledbf - I'll try to get a patch in today

[2018-08-10 20:59] rnburn commented on #52
I released a version of the zipkin tracer with a fix: https://github.com/rnburn/zipkin-cpp-opentracing/releases/tag/v0.5.1

[2018-08-10 21:00] aledbf commented on #52
building...

@rnburn thank you for the quick fix!

[2018-08-10 21:34] rnburn commented on #52
It looks like mismatch between something built with 1.4 and something else built with 1.5.

Btw - for Jaeger, you have to use this [commit](https://github.com/jaegertracing/jaeger-client-cpp/commit/ba0fa3fa6dbb01995d996f988a897e272100bf95). They haven't released a version for OT 1.5 yet.

[2018-08-10 22:06] aledbf commented on #52
@rnburn  I still see the issue
[code]

NGINX_OPENTRACING_VERSION=0.6.0
OPENTRACING_CPP_VERSION=1.5.0
ZIPKIN_CPP_VERSION=0.5.1
JAEGER_VERSION=ba0fa3fa6dbb01995d996f988a897e272100bf95

[2018-08-10 22:53] rnburn commented on #52
@aledbf - are you sure there's not any caching going on in that test?

I'm trying something similar. I generated over a 5k IDs but I'm not seeing any collisions.

[2018-08-10 22:56] aledbf commented on #52
I am creating a new k8s cluster and compiling a new image just to be sure.

[2018-08-10 23:05] rnburn commented on #52
I mean caching so that the same response is delivered.

I took this example https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/trivial/zipkin. Then modified https://github.com/opentracing-contrib/nginx-opentracing/blob/master/example/trivial/zipkin/go/server.go with

[code]
After starting with docker-compose and running

[code]

I don't see any clashes.

[2018-08-10 23:45] aledbf commented on #52
@rnburn this is strange, I still see duplicates. This is the config file https://gist.github.com/aledbf/d65841c037e29725872c5b4e9dd2cae5#file-nginx-conf-L392
The test app just dumps the headers

[2018-08-11 02:39] aledbf commented on #52
Ok, this is an example of two requests where nginx returns different `x-request-id` headers. Why `x-b3-parentspanid` is not empty?

[code]

[code]

[code]

[2018-08-11 03:17] aledbf commented on #52
This is a nginx trace (not sure if this is useful)

[code]

[2018-08-13 17:36] rnburn commented on #52
@aledbf - By default, nginx-opentracing creates a span to represent the processing of a the entire request and spans for each location block associated with the request. It can be useful if the request moves through multiple location blocks, but redundant if there's only one.

I think that parent span id represents the id of the request level span.

You can turn off location block spans with [`ope

[2018-08-13 17:44] aledbf commented on #52
@rnburn any idea how I can trace the issue with the duplication of ids?

[2018-08-13 18:03] rnburn commented on #52
@aledbf - do the requests with the same trace-ids have the same `x-request-id`?

[2018-08-13 18:04] aledbf commented on #52
No. There's no repetition in the x-request-id header

[2018-08-13 18:06] rnburn commented on #52
Can you reproduce it with a smaller docker-compose setup?

[2018-08-13 18:10] aledbf commented on #52
https://gist.github.com/aledbf/092939b7209c19d359492b90f448f229#file-data-txt-L32
https://gist.github.com/aledbf/092939b7209c19d359492b90f448f229#file-data-txt-L166

[2018-08-14 20:42] Stono commented on #52
@rnburn any ideas what may be causing this?  Really missing having tracing enabled, but have had to disable it for now due to the collisions

[2018-08-15 01:52] rnburn commented on #52
@Stono - I'm not sure. I wasn't able to reproduce anything similar.

I set up a docker-compose example that uses ingress-nginx's image: https://github.com/rnburn/example/tree/master/nginx-duplicate/zipkin

You can run it with `while true; do curl -s localhost:8080 | grep Traceid; done` to see IDs but they're always different when I run

If you can modify `nginx.conf` to reproduce the problem with

[2018-08-15 07:12] Stono commented on #52
@aledbf can you pass over your config where you were able to duplicate?

[2018-08-16 06:45] Stono commented on #52
@aledbf @rnburn some more discovery...
When I have nginx worker processes set to 12, I get duplicate trace id's, when i have nginx worker processes set to 1, I have **no duplicates**??!

[code]

[2018-08-16 13:11] aledbf commented on #52
@rnburn I can reproduce the scenario mentioned by @Stono

[2018-08-16 17:34] rnburn commented on #52
@aledbf - yeah, it looks like the thread_local storage is getting initialized in the master process, but not reinitialized after it forks the workers.

Unfortunately changing it like that is going to be costly since it will reseed the random number generator for each call to the function. But I'll do some research to see if there's a better way.

[2018-08-16 23:31] rnburn commented on #52
@aledbf - Can you try the version from this PR: https://github.com/rnburn/zipkin-cpp-opentracing/pull/27?

[2018-08-17 00:08] aledbf commented on #52
@rnburn it works as expected. Thanks for the quick fix!

[2018-08-17 12:34] #52 closed

[2018-08-17 12:35] aledbf opened #54 "Question: is supported to request x-b3-sampled when sample_rate=0?"
[code]

[2018-08-17 12:47] Stono commented on #54
It's my understanding that debug mode eg `x-b3-flags: 1` should force a sample.

[2018-08-17 14:56] rnburn commented on #52
@aledbf - https://github.com/rnburn/zipkin-cpp-opentracing/releases/tag/v0.5.2 has the fix.

[2018-08-19 08:15] Stono commented on #54
Anyone got any thoughts on this?  We're in a bit of a sticky situation at the moment where we're running with 10% sampling due to our throughput, but then our monitoring tests need to always be sampled, and they're not - so we're losing our ability to debug services.

[2018-08-19 15:37] rnburn commented on #54
Those headers need to contain a full span context or they'll be ignored.

If you want to control the sampling, you can use the [sampling.priority](https://github.com/opentracing/specification/blob/master/semantic_conventions.md) tag.

But the zipkin library would need a PR to support it.

[2018-08-19 15:40] Stono commented on #54
Bugger.

[2018-09-14 15:05] lw346 opened #56 "Host header is being overwritten with upstream name"
If nginx is configured on host `my.host`, with a backend set up, `my-backend`, when I make a request to `my.host/some-path` with a header `Host: my.host`, then the `Host` header is being overwritten with `my-backend` when propagated to the upstream.

Here's an example failing test:

[code]

Having tested this behaviour in real nginx, it may also be stripping out `proxy_set_header` directives if de

[2018-09-14 16:03] lw346 commented on #56
It looks like when `opentracing_propagate_context` all previous config arguments are discarded and replaced with the new opentracing args exclusively.

[2018-09-15 22:29] lw346 commented on #56
Taking this down to more basic levels:

[code]

This example also fails, even without opentracing turned on.  So I think being able to specify `opentracing_propagate_context` at a higher level (as per https://github.com/opentracing-contrib/nginx-opentracing/pull/57) is the fix.

[2018-09-16 04:38] rnburn commented on #56
Fixed in #57

[2018-09-16 04:38] #56 closed

[2018-09-18 06:18] willgittoes-dd opened #60 "Question: Have you considered certification as an Nginx Plus module?"
https://www.nginx.com/partners/certified-module-program/

Getting certified allows the module to be used by nginx plus supported installations, although I can't find much info about what the certification process entails.

Whatever work that process entails is potentially something I'd be happy to do myself. However before I reach out to Nginx to ask for more details, I wanted to get your (@rnburn

[2018-09-18 06:28] willgittoes-dd commented on #60
Thanks for responding! That's sort-of what I expected (although OpenResty runs arbitrary Lua code, so...).

My first hope was to get this module certified, but the back-up plan would be a statically-linked/combined vendor-specific tracer module that gets certified. What would be your feelings on that, given that only some part of the benefit (ie whatever improvements nginx ask for) could be contri

[2018-09-18 17:59] rnburn commented on #60
That's the approach we were considering. I'm not sure what other options there are.

Would it be possible to set up this module up so that it could support bundling that way with vendor tracers without requiring separate forks to be maintained?

[2018-09-18 23:27] willgittoes-dd commented on #60
My plan was to do something like:

- Git submodule nginx-opentracing into $MY_TRACER
- Build a single module from the two, to be certified
- Any suggestions made by Nginx that pertain to the nginx-opentracing part of the codebase, contribute upstream to nginx-opentracing (and if they seem pertinent to zipkin, at least make a Github issue or document it)

By using git submodule and contributing any

[2018-09-20 03:11] tedsuo commented on #60
@willgittoes-dd just getting caught up. That sounds like a good solution, given the options.

We could also open the discussion with NGINX again about certifying nginx-opentracing, as it's been a while. If I recall, the concern was that they did not want to have the OT certification somehow imply that any tracer you linked to it would also be covered by the certification. But we could see if they

[2018-10-06 14:01] zerda opened #64 "Tag http.status_code is missing when log_subrequest is on"
# Steps to Reproduce

Given nginx.conf
[code]

jaeger-config.json
[code]

1. Start a container with `docker run -p 8080:8080 -v ~/nginx.conf:/etc/nginx/nginx.conf -v ~/jaeger-config.json:/etc/jaeger-config.json --rm  opentracing/nginx-opentracing:0.7.0`
1. Visit `http://localhost:8080/test`.

# Actual Result

**Tag `http.status_code` is missing in all spans**, and there is additional `/auth` locat

[2018-11-12 21:15] spesternikov opened #65 "Problem with gcc 4.8.5"
Hello, I try to compile nginx-opentracing with gcc 4.8.5 on centos 7 and have this problem:
`./nginx-opentracing-0.7.0/opentracing/src/discover_span_context_keys.cpp: In constructor «ngx_opentracing::{anonymous}::HeaderKeyWriter::HeaderKeyWriter(ngx_pool_t*, std::vector<opentracing::v2::string_view>&)»:
./nginx-opentracing-0.7.0/opentracing/src/discover_span_context_keys.cpp:18:32: error: invalid

[2018-11-14 15:16] andremarianiello opened #66 "Support tracing with grpc"
Currently, opentracing_propagate_context uses proxy_set_header to inject span contexts into upstream requests. It would be nice to get support for injecting into requests to grpc server, now that nginx supports grpc.

[2018-11-20 00:13] #66 closed

[2018-11-21 10:55] rredkovich opened #68 "localAgentHostPort from env variable"
Cannot find any examples nor issues with this question, could an environment variable be used to set agent host?

Context: a jaeger agent is placed on every node in kubernetes deployment and to eliminate extra time consumption packets should be send straight to node IP. Node IP could be set dynamically into env var:
[code]

[2018-11-22 02:07] jaminlu opened #69 "nginx-opentracing compile error"
my compilation environment is:
gcc(cc) gcc (GCC) 5.1.0;
cmake version 3.6.2;
 nginx1.10.3
,but when i compiled nginx and generated the  ngx_http_opentracing_module.so file normally,the following error occurred to execute /usr/local/nginx/sbin/nginx -t:
nginx: [emerg] dlopen() "/usr/local/nginx/modules/ngx_http_opentracing_module.so" failed (/usr/local/nginx/modules/ngx_http_opentracing_module.so:

[2018-11-25 17:54] rnburn commented on #68
^ @isaachier

[2018-11-25 18:03] isaachier commented on #68
@rredkovich that is a good idea. Maybe post this in https://github.com/jaegertracing/jaeger-client-cpp/issues so I can get around to it. Definitely should be done for feature parity with other clients (see https://www.jaegertracing.io/docs/1.8/client-features/).

[2018-11-25 18:54] rnburn commented on #68
Thanks @isaachier

Closing since this would be a feature for the jaeger tracer.

[2018-11-25 18:54] #68 closed

[2018-11-25 19:55] #65 closed

[2018-11-25 19:55] #69 closed

[2018-11-25 20:01] rnburn commented on #69
The prefix `_ZN11opentracing11v3_unstable20` shows that you compiled against the master branch of OT. Try using the latest release 1.5 instead. You're probably mixing incompatible OT library versions.

[2018-11-27 17:59] etsangsplk opened #72 "Release does not work with Alpine docker image"
Looks lie all the release is built with Ubuntu and the associated dev packages. This casues a lot of issue loading that in alpine. There are suggestion of installtion lib-compat but it will error out on standard c library symbol on function call.

.
```[emerg] dlopen() "/usr/local/openresty/nginx/modules/ngx_http_opentracing_module.so" failed (Error loading shared library ld-linux-x86-64.so.2: No

[2018-11-27 18:09] etsangsplk opened #73 "no description of much for released image under docker hub"
https://hub.docker.com/r/opentracing/nginx-opentracing
https://hub.docker.com/r/opentracing/nginx-opentracing/tags/

[2018-11-29 18:31] rnburn commented on #73
@etsangsplk - Could you propose a description?

[2018-11-29 23:12] etsangsplk opened #76 "QUestion whats is the difference between set_opentracing_location_operation_name and set_opentracing_operation_name??"
It looks like the code is the same:
https://github.com/opentracing-contrib/nginx-opentracing/blob/9cde691471eee8152484462f748486f595007464/opentracing/src/ngx_http_opentracing_module.cpp#L97
and
https://github.com/opentracing-contrib/nginx-opentracing/blob/c01d8c492223abc7981577756ac70b4b2cf4b009/opentracing/src/opentracing_context.cpp#L18

[2018-11-30 16:40] #76 closed

[2018-12-08 08:45] hafent opened #78 "how to resolve the problem "nginx: [emerg] unknown "opentracing_context_uber_trace_id" variable""
I am trying to add the trace chain to nginx, and I have compiled all  the related so files（ngx_http_opentracing_module.so、libopentracing.so）. When loading the cofigure file according to the example, it prompts "nginx: [emerg] unknown "opentracing_context_uber_trace_id" variable"" error, Can anybody tell me  What is the reason,  and how to solve it, thank you!

[2018-12-08 18:08] etsangsplk commented on #73
was looking for something like this https://hub.docker.com/r/datadog/dev-dd-agent/ and the tag with release versions displayed on docker hub

[2018-12-10 07:34] #64 closed

[2018-12-11 11:20] EduardoAC commented on #72
@etsangsplk you can add `libc6-compat` to solve the problem. However, I couldn't solve the next one where it's required `__sprintf_chk`, which in theory must be solve by adding `glibc`.

However, the both libraries conflict and it's not an easy way to install the second one. I got stuck at this point to try to find a better solution

[2018-12-11 16:31] etsangsplk commented on #72
@EduardoAC I alresdy tried the libc approach and was stuck with the same.

[2018-12-12 09:10] EduardoAC opened #79 "Missing modules/ngx_http_opentracing_module.so"
Currently, I am trying to find where is the module or source code to build the module `ngx_http_opentracing_module.so`.

There is not any information within the repository and tutorial how to obtain that module

[2018-12-12 18:31] rnburn commented on #79
What do you mean? The source code is in the repository and there are instructions on how to build the module in the README https://github.com/opentracing-contrib/nginx-opentracing#building-from-source

[2018-12-14 16:09] EduardoAC commented on #72
Me too, that's why I am waiting for ideas from the community

[2018-12-14 16:14] EduardoAC commented on #79
@rnburn thanks for your quick answer and sorry for the delay.

These instructions are not clear how you can fetch. After some digging in this repository, there is a [good example](https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/trivial/ubuntu-x86_64) containing what I was looking for
[code]
This explain how to fetch the module from the releases. Perhaps, it will be goo

[2019-01-14 09:23] rogueai opened #81 "Mirror requests are not propagated correctly"
I have a nginx config with a proxy_pass to an upstream server, along with a `mirror` directive to another upstream server in the same location. I'm trying to configure tracing to zipkin for both the proxied and mirrored request, but it seems if I enable the `opentracing_propagate_context` on the `/mirror` location, the resulting trace is wrong, with zipkin displaying the mirrored request and the p

[2019-01-21 13:10] pznamensky opened #83 "opentracing_propagate_context seems to be working only in location context"
It looks like `opentracing_propagate_context` doesn't work in http and server level.
However, this ability was introduced in v0.7.0.
When `opentracing_propagate_context` defined in location block, everything works well.
Tested with nginx-opentracing v0.8.0 and nginx v1.14.2.

[2019-01-29 12:22] rogueai commented on #81
An update on this issue: I was able to correctly propagate the TraceId for subrequests, but had to make a couple of changes changes:
- Upgrade nginx-opentracing to `v0.8.0`
- enable `log_subrequest on;` in the server block
After these changes, zipkin was correctly reporting parent-child relationships in the trace. I'm still confused as to why I'd need `log_subrequest`. Perhaps there still is an un

[2019-01-31 15:54] mikhailov commented on #22
[code]

I wonder if this image hasn't been pushed to the docker hub? What's the recommended way to fetch the image without pulling this repo?

[2019-01-31 16:35] mikhailov commented on #73
Is that docker hub's image https://hub.docker.com/r/opentracing/nginx-opentracing official one?

[2019-01-31 17:03] rnburn commented on #73
Yep, that's the official one.

[2019-02-01 17:38] xvf commented on #83
+1

[2019-02-14 09:29] sta-szek opened #84 "Support `X-B3-TraceId` headers only"
Hi guys,
I have issue when I send `X-B3-TraceId` header **only** -- it means without other headers like `X-B3-SpanId`, ...

I see error message:

[code]

Is there any chance that you can add support for sending `X-B3-TraceId` only?
You could take this trace id and use it for span id, etc.

My motivation is following:
We could change all our clients to send additional headers as well but we are wai

[2019-02-19 11:26] geekeren commented on #33
This example can help you:
https://github.com/geekeren/docker-zipkin-nginx-example/blob/master/files/nginx.conf

[2019-02-20 14:58] ElvinEfendi opened #85 "Set opentracing context for a request in an earlier phase"
I'm working on https://github.com/kubernetes/ingress-nginx/pull/3783 to enable tracing of each Nginx phase we run Lua code. I've noticed that `ngx.var.opentracing_binary_context` is not set at `rewrite` phase and when I try to access it in Lua I get:

[code]

Looking at the source code, I noticed that opentracing runs after rewrite phase: https://github.com/opentracing-contrib/nginx-opentracing/bl

[2019-02-20 18:36] rnburn commented on #85
I think that would be ok. Can you try making the change and seeing if it breaks anything?

[2019-02-20 20:39] ElvinEfendi commented on #85
I'll give it a try, but not sure when.

[2019-02-21 09:11] JiZhangXiong opened #86 "Error reporting using openresty"
Using openresty alone to start the error reporting, the error information is as follows:
![1](https://user-images.githubusercontent.com/47075576/53156796-18c2e500-35fb-11e9-892c-212a8734dafd.png)
If using the Official Directory example and starting with Docker can work properly, Then I use the official website example to start without docker, report the same error, and start the openresty command:

[2019-02-21 09:49] JiZhangXiong commented on #86
Why do I use the official example and docker boots up normally?
![2](https://user-images.githubusercontent.com/47075576/53159523-0055c900-3601-11e9-9fac-da65cb774a5e.png)
![3](https://user-images.githubusercontent.com/47075576/53159534-05b31380-3601-11e9-8d25-5404157722d1.png)

[2019-02-21 10:19] JarenGlover opened #87 "openresty and nginx-opentracing"
Do you envision adding a pre-compiled binary for openresty in the Github releases?

Today the openresty bundles with nginx `1.13.6`. However, the binary you provide is `1.13.12`.

I can tell from [this](https://github.com/opentracing-contrib/nginx-opentracing/blob/1c8c2dcd15fe911b7040dac788d0537c0de3c97e/Dockerfile-openresty) you have openresty support. However, I got lost in the moving parts.

It

[2019-02-21 10:38] JarenGlover commented on #86
So the above is working as expected correct?

What example are you running/using that is giving you the error?

[2019-02-21 10:44] JiZhangXiong commented on #86
Above is an example of how the official website works，The problem now is that I don't need docker to deploy and run to report errors.

[2019-02-21 10:54] JarenGlover commented on #86
Are you saying when you are running openresty outside the docker container ... you are getting the above error?

Are you sure you have the [opentracing-cpp](https://github.com/opentracing/opentracing-cpp) installed? When I had that error I resolved it by making sure the `opentrcing-cpp` was installed and had ran `ldconfig`.

[2019-02-21 11:04] JiZhangXiong commented on #86
[ 12%] Building CXX object CMakeFiles/opentracing.dir/src/propagation.cpp.o
[ 25%] Building CXX object CMakeFiles/opentracing.dir/src/dynamic_load.cpp.o
[ 37%] Building CXX object CMakeFiles/opentracing.dir/src/noop.cpp.o
[ 50%] Building CXX object CMakeFiles/opentracing.dir/src/tracer.cpp.o
[ 62%] Building CXX object CMakeFiles/opentracing.dir/src/tracer_factory.cpp.o
[ 75%] Building CXX object C

[2019-02-21 11:04] JiZhangXiong commented on #86
Install configuration: "Release"
-- Up-to-date: /usr/local/include/opentracing
-- Installing: /usr/local/include/opentracing/config.h
-- Installing: /usr/local/include/opentracing/version.h
-- Installing: /usr/local/lib/libopentracing.so.1.5.1
-- Installing: /usr/local/lib/libopentracing.so.1
-- Up-to-date: /usr/local/lib/libopentracing.so
-- Up-to-date: /usr/local/include/opentracing/expected
--

[2019-02-21 11:05] JiZhangXiong commented on #86
Is this installation successful?

[2019-02-22 19:00] rnburn commented on #87
Could you update [this list](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/ci/build_module_binaries.sh#L6) with the latest versions you'd like and they'll be bundled in the next release.

[2019-02-26 17:00] JarenGlover commented on #87
closed by #88

[2019-02-26 17:00] #87 closed

[2019-03-02 05:27] Yaytay commented on #72
I spent a couple of hours yesterday converting the Dockerfile into one based on Alpine (only using Zipkin 'cos that's all I needed, but should be easy enough to modify for others).
It seems to work OK.

I can't offer to support it because I think I'm actually going to want to base off OpenResty.

I can post the Dockerfile if anyone is interested.

[2019-03-15 05:34] reynaldiwijaya opened #90 "Question: Remotely controlled sampler for Jaeger?"
I noticed that `jaeger-client-cpp` supported remotely controlled sampler (in which, it will consult the sampler for sample type and rate). I am using nginx ingress and asked them about this feature, noticing that their `opentracing.json` template does not include the parameter to define the URL https://github.com/kubernetes/ingress-nginx/issues/3894#issuecomment-473081063

But it seems nginx opent

[2019-03-15 05:38] rnburn commented on #90
You can specify that option in the JSON config you pass to the tracer with the [opentracing_load_tracer](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Reference.md#opentracing_load_tracer) directive.

[2019-03-15 05:38] #90 closed

[2019-03-16 00:26] rnburn commented on #60
Closing since the module is now listed on https://www.nginx.com/products/nginx/modules/

[2019-03-16 00:26] #60 closed

[2019-03-16 17:15] tallaxes commented on #83
Observed the same, nginx-opentracing 0.8.0, nginx 1.13.6 (OpenResty 1.13.6.2)

[2019-03-22 17:39] rnburn commented on #86
@JiZhangXiong - yes, that look like it installed.

If you need further help setting it up, you can ask on https://gitter.im/opentracing/public

[2019-03-22 17:39] #86 closed

[2019-03-31 23:25] aledbf opened #91 "Question: is arm supported?"
Error: https://github.com/kubernetes/ingress-nginx/pull/3852#issuecomment-469664089
**Note:** arm64 works fine

[2019-04-01 17:34] rnburn commented on #91
That build error's coming from the Jaeger tracer which has boost as one of the dependencies. I would an issue into [jaeger-client-cpp](https://github.com/jaegertracing/jaeger-client-cpp) or maybe its build system [hunter](https://github.com/ruslo/hunter).

[2019-04-01 17:57] aledbf commented on #91
@rnburn thanks!

[2019-04-01 17:57] #91 closed

[2019-04-13 05:01] nevi-me opened #92 "How to set the request path as trace name?"
I'm using the latest Docker image, proxying traffic to gRPC servers. I have a location like `service.v1.Service/`, and all traces for routes to that service aren't being named correctly to for example `service.v1.Service/GetData`.
Is there a way to enable this to be the span name?

[2019-04-13 05:29] rnburn commented on #92
You can use [opentracing_operation_name](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Reference.md#opentracing_operation_name) and [opentracing_location_operation_name](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Reference.md#opentracing_location_operation_name) to change the names

[2019-04-15 01:45] rnburn commented on #92
Closing. If you're still having trouble, you can reopen the issue.

[2019-04-15 01:45] #92 closed

[2019-04-15 11:27] gdhgdhgdh opened #93 "Request: precompiled release for Nginx 1.14.2"
Thank you for providing precompiled releases for earlier Nginx versions - could I be so bold to request a binary for 1.14.2, given that there have been some (minor) security issues with 1.14.0?

[2019-04-17 16:00] lketired commented on #87
Hello! Are you planning to release the pre-compiled binary (.so) for the openresty with nginx 1.13.6 anytime? I tried to compile in my setup, but getting into one issue after the other.

[2019-04-17 17:43] lketired opened #94 "openresty with nginx 1.13.6 and opentracing"
Hello! Are you planning to release the pre-compiled binary (.so) for the openresty with nginx 1.13.6 anytime? I tried to compile in my setup, but getting into one issue after the other.

I see there is related issue - https://github.com/opentracing-contrib/nginx-opentracing/issues/87. It would be very helpful if you can release the compiled binary.

[2019-04-19 08:40] KhadijaAmmar commented on #72
Thank you for providing this docker file showing how to install plugins,
However, I don't get why you use ln -s and create symoble links?
[code]

[2019-05-14 23:40] terrynsun commented on #85
I moved it to the SERVER_REWRITE phase, because when I moved it earlier than the SERVER_REWRITE phase, the module doesn't get loaded for subrequests. This seems to work fine for me.

[2019-05-15 18:55] ElvinEfendi commented on #85
@terrynsun SERVER_REWRITE  is probably good enough, maybe open a PR so that the maintainer can help with tests.

[2019-05-22 03:06] xuanit commented on #83
+1

[2019-06-19 13:59] sta-szek commented on #84
anyone there? :)

[2019-06-26 08:14] alexellis commented on #91
@aledbf can you reference any other issues here so that we can follow the papertrail?

[2019-07-16 01:05] tarekrached opened #100 "Request: precompiled release for nginx 1.15.8 (OpenResty latest)"
Hey folks, thanks muchly for all the amazing work out there!

[OpenResty's latest](https://openresty.org/en/ann-1015008001.html) is based on nginx `1.15.8` - it would be super awesome to have a precompiled binary for it.

[2019-07-16 07:23] #100 closed

[2019-07-16 13:16] mahendranathreddy54 opened #102 "segfault at a ip, sp, error 4 in linux-amd64-libzipkin_opentracing_plugin.so"
Hi Team,
Below is my envt details
1. RHEL 7.6
2. Nginx-1.15.0
3. cmake - 3.14.5
4. Opentracing-cpp  - 1.5.0
5. Nginx-opentracing module - v0.8.0
6. Zipkin-server - 2.12.9
7. zipkin plugin - 0.5.2
8. gcc - 4.8.5

Below is my configuration command used to create Make file

[code]

Below is my Zipkin json file :
[code]

Below is my nginx.conf file :
[code]

While validation the configuration i'm not

[2019-07-24 09:39] mahendranathreddy54 commented on #102
Resolved

[2019-07-24 09:39] #102 closed

[2019-08-02 02:15] ltandfyy opened #103 "Support for SkyWalking"
I'm from China.I hope you can understand it.When can SkyWalking support be provided?

[2019-08-02 18:44] rnburn commented on #103
SkyWalking would need to provide C++ tracer to be supported. Try asking them if that's on their roadmap.

[2019-08-05 02:49] ltandfyy commented on #103
Oh, I see.Thank you very much.

[2019-08-14 14:03] sbaum1994 opened #106 "Request: precompiled release for nginx 1.14.2"
Debian 10.0 relies on 1.14.2 and not 1.14.0. We don't want to also own the build process for this plugin and would greatly appreciate adding 1.14.2 to the precompiled releases if this is possible!

Issue opened on behalf of Cognite/LightStep, CC @rnburn

[2019-08-20 08:14] pbobrovnikov commented on #102
Hi, we faced the same problem. Please, help.
What needs to be done?

[2019-08-20 17:02] rnburn commented on #103
Closing since support wouldn't be provided directly by the nginx-opentracing package.

[2019-08-20 17:02] #103 closed

[2019-08-20 17:03] rnburn commented on #85
Done in https://github.com/opentracing-contrib/nginx-opentracing/pull/98

[2019-08-20 17:03] #85 closed

[2019-08-20 17:06] rnburn commented on #84
Interpreting the headers is the job of the tracers (e.g. https://github.com/rnburn/zipkin-cpp-opentracing) -- this module just passes them through.

If you want to add that feature (and there's precedent in other zipkin tracers), you can put in a PR to that project.

[2019-08-20 17:06] #84 closed

[2019-08-20 17:08] rnburn commented on #54
Closing since this would be a https://github.com/rnburn/zipkin-cpp-opentracing issue

[2019-08-20 17:08] #54 closed

[2019-08-20 19:17] rnburn commented on #106
Added

[2019-08-20 19:17] #106 closed

[2019-08-20 19:17] rnburn commented on #93
Added

[2019-08-20 19:17] #93 closed

[2019-08-25 18:07] darkblueorange opened #110 "Issue compiling with Nginx 1.17.2"
Hello
I tried to directly use ngx_http_opentracing_module.so after pulling it from the site, not founding the exact version (I have Nginx 1.17.2, I saw 1.16.1 and 1.17.3 in open-tracing release compatibility) => I got (obviously afterwards):

Unfortunately I can't see some easy way to upgrade Nginx part (1.17.3 doesn't seem to be available from apt-get), so I tried to follow the hard path to recom

[2019-09-27 06:03] trajano opened #112 "128-bit trace IDs"
Can 128-bit trace IDs be enabled?

[2019-09-28 00:58] trajano commented on #112
The issue appears to be in the zipkin module https://github.com/rnburn/zipkin-cpp-opentracing/issues/36

[2019-09-28 00:58] #112 closed

[2019-10-21 10:14] bzon commented on #83
I'm trying to use this with Nginx Ingress Controller. I also need to pass down the tracing context so I can bridge the distributed trace with a backend that uses OpenCensus.

[2019-10-21 12:14] bzon commented on #10
This is related to https://github.com/kubernetes/ingress-nginx/issues/4705

[2019-11-14 21:05] acj commented on #72
For anyone trying to use Datadog APM on Alpine, below is a sample Dockerfile loosely based on Yaytay's solution (thanks!). It should be straightforward to use with the `nginx:*-alpine` base images if you don't need to build nginx from source.

I followed Datadog's official directions for setting up nginx.conf. If memory serves, the only modification was to the shared object path:

[code]

<details

[2019-11-16 09:24] cheng417723 opened #114 "how to use this plugin works with zipkin ?"
hi, i want to use this use this plugin works with zipkin for tracing openresty lua code.  can you give me some  examples?  thanks.

[2019-11-18 06:21] #114 closed

[2019-12-05 07:56] eloycoto opened #116 "Core dump in Centos"
Hello,

I'm building ngx-opentracing for Openresty and each time that a request is in place I got the following core dump:

[code]

The way that I installed is the following spec + with the following change:

Spec:
https://github.com/openresty/openresty-packaging/blob/master/rpm/SPECS/openresty.spec

Config:
[code]

It happens to me with 0.3.0 version, and I tried with the latest stable and always

[2019-12-05 16:12] ct27stf opened #117 "Question: g++ build requirements"
https://github.com/opentracing-contrib/nginx-opentracing/blob/894927f8eb90daea4c2ad4c251b6151e93ac7c47/ci/build_module_binary.sh#L30

As referenced above, g++ needs to be ==7 or could it be >=7 ?
I'm doing some builds on Alpine linux which has 8.3.0 and it seems to be building ok so far

[2019-12-11 17:14] eloycoto commented on #116
@rnburn could you provide any help here?

This is the full backtrace is here:
https://gist.github.com/eloycoto/e000b5fc278e718702ceac04e033894c

And here you have how to reproduce (Dockerfiles, config, etc..):
https://gist.github.com/eloycoto/d1b4ada815ec7f3980069cdd0e66e194

Regards

[2019-12-12 22:10] lelvisl opened #118 "how to enable x-b3-* headers?"
x-b3-flags=0
	x-b3-parentspanid=b645ed6a787276a2
	x-b3-sampled=1
	x-b3-spanid=a1badc73a4d2b5fe
	x-b3-traceid=51036217f8abdc99

[2019-12-13 10:30] eloycoto commented on #116
Related to: https://github.com/jaegertracing/jaeger-client-cpp/issues/159

[2019-12-13 10:30] #116 closed

[2019-12-13 16:28] m0n5t3r opened #119 "uwsgi support"
I couldn't find any way to propagate context with uwsgi. How hard would it be to add an `opentracing_uwsgi_propagate_context` directive?

[2020-01-03 22:30] javierlgadou opened #120 "Error when compiling source code using OpenResty"
Hello, I'm building OpenTracing from source code to be added as a module for OpenResty/NGINX, using the following command:

[code]
After running running `gmake install`, I'm receiving the following error:

[code]

Information:

- **OpenTracing version**: 0.9
- **OpenResty/NGINX version**: 1.15.8
- [**Source code**](https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.9.0)

Any

[2020-01-13 10:55] danielwrayois opened #121 "Nginx OpenTracing to Elastic APM"
Hi,

I am looking to setup Nginx tracing and send the traces to an Elastic APM server, since the APM server is based upon the OpenTracing standards would the Jaeger, or Zipkin plugins work with this backend?

[2020-01-15 20:59] rnburn commented on #117
It's not part of the CI coverage, but I don't see any reason why it shouldn't work. libstdc++ is ABI compatible between gcc 7 and 8 so you should be able to use the same binary.

[2020-01-15 20:59] #117 closed

[2020-01-21 10:55] krishofmans opened #122 "Support off-cluster jaeger collector"
Hello,

I was trying to enable opentracing/jaeger support for an nginx controller.
The collector endpoint is not on the same cluster.

In the docs it just says a valid url, not necessarily a valid url on the cluster?
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#jaeger-collector-host

The url is https terminated and reachable from inside the pod.

But I just

[2020-02-11 07:36] osamamaruf opened #123 "Tags not available in jaeger ; opentracing_tag"
The open tracing tags do not show the additional headers set via the opentracing_tag. Below configuration is being used in configMap;
[code]
The jaeger configuration is as follows;
[code]
The following output is seen in jaeger
![image](https://user-images.githubusercontent.com/34508971/74218072-13a6ec00-4ccb-11ea-89c9-e0e02c72e719.png)
**Setup**
Nginx-Ingress Controller version : 0.23.0

[2020-02-11 11:12] aledbf commented on #123
You are using a really old version of the ingress controller. Please update to 0.28.0. This version also contains the latest version of the opentracing module.

[2020-02-13 10:04] osamamaruf commented on #123
@aledbf  Thanks. Using the latest ingress controller with the same configuration the issue is not present. Closing this issue.

[2020-02-13 10:04] #123 closed

[2020-02-26 15:24] Grokon commented on #120
You need to install https://github.com/opentracing/opentracing-cpp

[2020-02-27 11:11] mike-quayle-very opened #124 "Calling opentracing_propagate_context throws an error when opentracing is off"
We have opentracing switched on or off in different environments, controlled by an environmental variable. When opentracing is switched off the code in nginx.conf is essentially this:

[code]
However, the call: opentracing_propagate_context causes the following error to be logged for every request:

[code]
If opentracing is off, shouldn't this message be suppressed?

Mike

[2020-03-04 10:16] 2tvenom commented on #83
+1

[2020-04-06 10:17] SagarKadambi opened #125 "Traces not generated for requests handled by streams"
I am running nginx 1.17.4 with opentracing 1.5.1, nginx opentracing plugin 0.9.0 and datadog opentracing plugin 1.1.2. I have ssl streams enabled for location path "/" and also have a location config for "/healthcheck". Opentracing is enabled for both locations.
I can see the traces reported for the "/healthcheck" requests, however i dont see any traces for requests on path "/". I do see the trace

[2020-04-13 22:56] trajano opened #127 "Provide an image that can be used without customizing"
Is it possible to have a version of the image built so that it can be configured using environment variables rather than building a custom image?

[2020-04-14 01:50] rnburn commented on #127
What options do you want to configure from environmental variables?

Keep in mind that by default nginx drops all the environmental variables when it forks a worker.
http://nginx.org/en/docs/ngx_core_module.html#env

[2020-04-14 18:23] trajano commented on #127
`OPENTRACING_ENDPOINT` is basically the only one I can think of.  That will allow the traces to go to a specific server.  So the `:zipkin` image will go use the zipkin library vs :datadog or :jaeger

[2020-04-23 12:29] SagarKadambi commented on #125
Below is my configuration :
Nginx.conf
[code]
default.conf :
[code]
streams.conf :
[code]

Debug logs for a request on the http streams port 8443 :
[code]

Debug logs for /nginx_status on insecure port :
[code]

Seems like the requests served by http streams do not have the configs under the location block evaluated.

[2020-04-27 17:38] obonyojimmy opened #128 "Missing trace-context headers"
We are missing `traceparent` and `tracestate` headers as defined by tracing specs https://www.w3.org/TR/trace-context/ . The [opentracing_context_name](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Reference.md#opentracing_context_name) variable should be renamed to `traceparent`

[2020-05-26 21:55] ghost opened #129 "Bypass Jaeger agent for Jaeger collector does not work"
I am trying to setup nginx so that the spans are directly sent to the Jaeger Collector on port 14268. Currently, I have no issues sending my spans to an agent and then relayed to the collector via port 14250 but when I change my `jaeger-config.yaml` to use `endpoint` instead of `localAgentHostPort` I can no longer find my traces in the panel. I have also run `tcpdump` in my container and get no tr

[2020-05-28 11:01] paddycarey opened #130 "Overriding default tags"
I'm trying to override some of the default tags that nginx-opentracing sets using `opentracing_tag` directives in my `location` blocks but it doesn't seem to work, is that expected?

I'm running:

Nginx: 1.13.6 (compiled from source)
OS: Ubuntu 16.04
nginx-opentracing: 0.9.0 (binary release)

The location blocks in my config look like so:

[code]

But when the span is sent I always see the default

[2020-05-30 21:16] MitRandi opened #131 "Support for nginx version 1.8 & 1.9"
As you can see current nginx stable version 1.18.0 and mainline 1.19.0
https://www.nginx.com/blog/nginx-1-18-1-19-released/

At this moment latest version support by nginx-opentracing is 1.17.3
https://github.com/opentracing-contrib/nginx-opentracing/releases

[2020-06-16 22:14] jkowall commented on #121
You'd actually need to make code changes for the library. The way OpenTracing works is that is specifies the API needed to decorate the code and get tracing, but it doesn't specify a backend format. Each toolset has a different OpenTracing library. I haven't read through the code for this integration but they seem to have used libraries to support a few tools, namely Jaeger, Zipkin, LightStep, or

[2020-06-30 15:29] brian-villanueva commented on #131
Are there any known incompatibilities that would prevent usage with 1.18-1.19?

[2020-07-01 02:03] Renz2018 opened #132 "Feat Request: Support W3C Trace Context header"
W3C trace context now is "W3C Recommendation 06 February 2020"
But nginx-opentracing support B3 and jaeger, not support w3c trace context.
I know opentelemetry support W3c trace context dafault, but still many people use nginx-opentracing( specaily nginx-ingress-controller)

[2020-07-02 10:24] ichaozai opened #133 "Could not get binary context for sub requests"
Get `failed to expand opentracing_context_ for request 000055D4589C9190: get_binary_context failed: could not find request trace` when invoking subrequest by ngx lua.

[code]

How to trace sub requests?

nginx.conf:
[code]
jaeger-config.json:
[code]

[2020-07-06 06:51] ichaozai commented on #133
After debugging from the source code, I need to set `log_subrequest on;` to enable sub request tracing.

But I got a new problem, the sub request's span is not a child of the caller request.
Here is the `nginx.conf`:

[code]

[2020-07-08 05:39] EasonFeng5870 opened #134 "so isn't working"
nginx version is 1.16.1
and
opentracing module is 1.16.1 or 1.16.0  are not working, the error is :

`nginx: [emerg] module "/usr/local/nginx/modules/ngx_http_opentracing_module.so" version 1016000 instead of 1016001 in /usr/local/nginx/conf/nginx.conf:11
`

[2020-07-08 05:41] EasonFeng5870 commented on #134
when I use my personal compiled versioin it got error:

`[16099299.111443] nginx[20083]: segfault at 4 ip 00007ffbf0cac52d sp 00007fff2e634410 error 4 in libjaegertracing.so.0.6.0[7ffbf0a16000+453000]
[16099299.156030] nginx[20086]: segfault at 4 ip 00007ffbf0cac52d sp 00007fff2e634410 error 4 in libjaegertracing.so.0.6.0[7ffbf0a16000+453000]
`

[2020-07-28 15:02] bbrunod commented on #131
When I try to reload my nginx (version 1.8), I have this error :
[code]

[2020-09-03 16:42] entscheidungsproblem opened #137 "Add support for nginx 1.18.0"
Could you add support for some newer nginx versions? If 1.17.10 can be supported, 1.18.0 can be added as well since they are functionally the same ([here is the diff](https://github.com/nginx/nginx/compare/release-1.17.10...release-1.18.0))

https://github.com/opentracing-contrib/nginx-opentracing/blob/d00780bef5ef93ca41306dd06d5910a8267daff2/ci/build_module_binaries.sh#L6

[2020-09-06 23:27] rnburn commented on #137
Fixed in #139

[2020-09-06 23:27] #137 closed

[2020-09-06 23:27] rnburn commented on #131
Fixed in #139

[2020-09-06 23:27] #131 closed

[2020-09-06 23:50] aledbf opened #140 "Question: Any chance to update opentracing-cpp to 1.6.0?"

[2020-10-02 15:34] n4nn31355 opened #141 "$sent_http_* isn't correct when log_subrequest on"
Initially nginx logs the $sent_http_* variables for the targeted url:
[code]

But when we use `log_subrequest on`, we get the subrequest headers in logs:
[code]

There is a slightly modified jaeger example to represent the issue:
https://github.com/n4nn31355/nginx-opentracing/commit/bd63bb37d35b9eb16106f70039b9beca45700293

[2020-10-29 10:47] robermorales commented on #132
+1

[2020-12-04 00:07] miry commented on #132
It seems the Jaeger CPP should support W3C Format https://www.jaegertracing.io/docs/1.18/client-libraries/#propagation-format

[2020-12-07 16:53] ovidiubuligan commented on #132
I also need this with a aspnet core backend . The backend only knows how to get the parent context  if it is in W3C format.

[2020-12-08 11:15] miry commented on #132
I have successfully upgraded jaeger tracer to custom branch: https://github.com/opentracing-contrib/nginx-opentracing/compare/master...miry:upgrade-jeager-opentracing

It generates W3C.
Going to prepare a PR.

[2020-12-15 14:14] Sund3 commented on #33
Does anyone have an example for jaeger trace id for the $opentracing_context_ ?

[2020-12-15 23:41] jzyeezy opened #146 "Opentracing and proxy_cache_use_stale causing lots of log spam"
## Context
We are noticing a large amount of opentracing error logs for routes that have caching enabled. Example:
[code]
which we noticed that these errors happen whenever NGINX is serving up `STALE` cache responses:
[code]

Here's what our NGINX config looks like and the specific route:
[code]
Furthermore, when we disabled `proxy_cache_use_stale error updating http_500 http_502 http_503 http_504

[2020-12-16 10:21] miry commented on #140
@aledbf pls check this PR: https://github.com/opentracing-contrib/nginx-opentracing/pull/143

The current implementation is working fine with Opentracing 1.6.0.

[2020-12-16 10:23] miry commented on #132
Created a sample PR https://github.com/opentracing-contrib/nginx-opentracing/pull/147 to show how it is possible to use latest Jaeger with W3C. There are no any changes required in nginx-opentracing code.
Working on patching nginx-ingress to support latest libs.

[2020-12-16 10:25] miry commented on #134
Here is my working Dockerfile to make work Nginx 1.19.5 with Opentracing 1.6.0 https://github.com/opentracing-contrib/nginx-opentracing/pull/143

[2020-12-16 10:26] miry commented on #128
Here is an example how you can compile Nginx opentracing with new Opentracing and Jaeger to support w3c format: https://github.com/opentracing-contrib/nginx-opentracing/pull/147/files

[2020-12-21 19:26] jzyeezy commented on #146
On further investigation, it appears that the errors go away if I add a custom header that we add within the route. I can't speak at all as to why this seemed to work though...

[code]

[2020-12-30 15:06] esetnik opened #148 "nginx 1.19.6"
Is it save to use nginx-opentracing [v0.10.0](https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.10.0) with nginx v1.19.6?

[2020-12-30 15:08] esetnik commented on #148
https://github.com/opentracing-contrib/nginx-opentracing/pull/142

[2021-01-02 03:12] gmspgua opened #149 "ParentSpanId not working"
I have a ecosystem Api Gateway -> Nginx -> Microservice,

I want the SPAN created in NGINX be child of Span Apigee.

When i send the headers below,

![image](https://user-images.githubusercontent.com/34476524/103450009-e2daf700-4c8e-11eb-88cc-58c8863f67d7.png)

my nginx.conf

![image](https://user-images.githubusercontent.com/34476524/103450057-a4920780-4c8f-11eb-83c5-dce5f48b8f03.png)

The Spans

[2021-01-04 17:56] #149 closed

[2021-01-06 16:45] miry commented on #148
It works for development environment at least. There are no huge changes.

[2021-01-19 16:34] verdie-g commented on #124
I have a similar issue on nginx 1.19.2 with open tracing only enable on one location.
[code]

All other locations seem to log the error `8517#8517: *2091 failed to expand opentracing_context_ for request 000055BCE99ABC60: no OpenTracingContext attached to request while logging request`.

[2021-01-20 15:12] esetnik commented on #148
@miry do you think this project is abandoned? I haven't seen any activity by the maintainers in awhile. @rnburn are you looking for more maintainers?

[2021-01-20 15:59] rnburn commented on #148
No one is sponsoring this project right now.

But if someone wants to volunteer to be a maintainer I can grant them permissions.

[2021-01-24 18:01] verdie-g commented on #124
The exception is [thrown here](https://github.com/opentracing-contrib/nginx-opentracing/blob/e0109dd801673a4506e0649f1ddaa313fa3ca1a2/opentracing/src/opentracing_variable.cpp#L50) when trying to expand a variable when opentracing is off.

A workaround I have found is to only use `opentracing*` variables in server blocks where opentracing is on.
[code]

When opentracing is off, variables should be

[2021-01-26 19:22] rnburn opened #152 "Maintainers needed"
We need to add some new maintainers to the project. Please volunteer.

[2021-01-26 19:25] rnburn commented on #152
ccing @verdie-g @miry -- any interest?

[2021-01-26 19:30] verdie-g commented on #152
@rnburn sorry I'm just passing to test Datadog for a pet project 😅

Maybe you can ask a guy from https://github.com/DataDog/dd-opentracing-cpp.

[2021-01-27 16:14] miry commented on #152
@rnburn I can help to merge or test the one that does not require CPP knowledge.

[2021-01-28 03:04] liuzheng commented on #72
[code]
will solve this issue

I use this, will solve some lib issue
[code]

but I have another problem
[code]
still finding solution

[2021-01-28 09:42] liuzheng commented on #72
rebuild the jaeger-client-cpp with version 0.6.0 solved nginx error

[2021-01-29 21:41] rnburn commented on #152
Thanks @miry, I sent you an invite.

[2021-02-01 15:55] esetnik commented on #152
@miry thanks for volunteering. Will you be able to release https://github.com/opentracing-contrib/nginx-opentracing/pull/150 soon?

[2021-02-01 21:53] miry commented on #152
@esetnik Done. I wanted to finish fixing tests first. But it should work.

[2021-02-01 21:54] miry commented on #148
fixed in #150

[2021-02-01 21:54] #148 closed

[2021-02-02 12:29] #124 closed

[2021-02-02 21:27] aledbf commented on #140
Not really. That would be a breaking change for lots of users.
One of the implementors - datadog is waiting for this update to release a compatible version?
https://github.com/DataDog/dd-opentracing-cpp/issues/115#issuecomment-734490099

[2021-02-03 13:31] miry commented on #140
@aledbf Did I understand correctly.dd-opentracing-cpp is compatible with Opentracing-cpp 1.6.0 ?

Need to recheck other traces, may be they also ready for upgrade.

For nginx-opentracing there are no changes required to support opentracing-cpp 1.6.0.
I was blocked only by traces.

[2021-02-06 20:35] esetnik commented on #152
@miry can you create a new github release?

[2021-02-08 11:03] miry commented on #152
@rnburn Can you share links to docs or steps required for the release?

[2021-02-09 00:42] rnburn commented on #152
There was an automated release work flow built on top of this script https://github.com/opentracing-contrib/nginx-opentracing/blob/master/ci/release.sh. I'm not sure it's kept up-to-date; though it might be possible to port it over to github actions.

But you can make a release and attach prebuilt binaries from https://github.com/opentracing-contrib/nginx-opentracing/blob/master/ci/build_module_bi

[2021-02-09 10:21] miry commented on #152
Thank you. Will work on release and automation.

[2021-02-09 15:02] miry commented on #129
Pls correct me, but I think it is related to jaegertracing-cpp

[2021-02-09 15:54] miry commented on #152
@esetnik here is release https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.11.0

[2021-03-02 22:36] Tyler-2 opened #157 "Question: Is it possible to ignore tracing for ELB healthchecks?"
Our load balancer hits our nginx server to do health checks a lot. I've disabled logging for these requests, but of course the `opentracing` bits are still called. How can I instruct nginx or opentracing to ignore requests that meet a certain condition, such as user-agent?

[2021-03-03 10:42] miry commented on #157
I could not answer how it should be done in nginx level, but I think you can drop traces on opentelemetry collector level.
https://opentelemetry.io/docs/collector/configuration/

[2021-03-03 15:43] Tyler-2 commented on #157
I used that last suggestion. I modified where our LB is hitting nginx for healthchecks and turned off tracing there.

[code]

Thanks!

[2021-03-03 15:43] #157 closed

[2021-03-14 09:19] opteemister opened #158 "Huge container size 3.8G. Is it normal?"
I noticed that the compressed size of container image is 1.4G, but uncompressed is almost 4G.
After quick look I found huge folder `/opentracing-cpp` in root folder with all build files, which seems hasn't been cleanup after build.

I also found a reason. Seems this commit https://github.com/opentracing-contrib/nginx-opentracing/commit/894927f8eb90daea4c2ad4c251b6151e93ac7c47# is breaking the buil

[2021-03-14 11:19] miry commented on #158
@opteemister As I see Dockerfile is used only for testing purpose and it has extra traces, that probably you don't need.
There is a [PR](https://github.com/opentracing-contrib/nginx-opentracing/pull/155) to have Opentracing 1.6 in the Dockerfile and it would remove most of traces from the built.
Can you share your use case of the image?

[2021-03-14 13:46] miry commented on #158
Updated the #155 to have less layers and clean the tmp folder. Now it have size of 1G.

[2021-03-15 05:58] opteemister commented on #158
@miry strange that it is used only for testing purposes.
Initially I found the image here https://hub.docker.com/r/opentracing/nginx-opentracing and also there is a mention about that docker images are provided to support using nginx with OpenTracing - https://github.com/opentracing-contrib/nginx-opentracing#docker

Our use case:
We are using OpenTracing integration for nginx to enable DD APM inte

[2021-03-15 08:28] miry commented on #158
@opteemister next version would release image as 1GB. But I believe it still huge for production uses. For example if there autoscaling setup exists, it would be slow because to download 1GB would not be the fast solution.

Ideally need to tune image to have multi stage build and reduce size to 100 MB (similar to ingress-nginx).

[2021-03-15 10:26] opteemister commented on #158
Thank you for your suggestion. I'll try to install libs by our own.

[2021-03-15 10:26] #158 closed

[2021-03-18 11:39] sdanbury commented on #33
So if I am looking to log the trace IDs and I don't pass in any trace header in the request then I would expect this plugin to generate one for me. In order to log that trace ID generated by the plugin, can I just do this in the usual way, such as `$http_*`? For example, if the header was `uber-trace-id`, I could log `$http_uber_trace_id`?

For that to be true, then I would assume the plugin works

[2021-03-18 14:08] cello86 opened #160 "Disable x-b3-flags propagation"
Hi,
we configured the opentracing plugin on nginx 1.19.8 and all works fine, but we noticed that all requests had the header X-B3-Flags set to 0 and our backend API GW logged an error if this header has a value different from "1".

We tried to use proxy_set_header config to override this value but it's not possible to remove the header sent by nginx.

Is is possible to avoid the forward of the "x-

[2021-03-18 18:42] miry commented on #158
@opteemister released a new version of [image](https://hub.docker.com/r/opentracing/nginx-opentracing/tags?page=1&ordering=last_updated):

![image](https://user-images.githubusercontent.com/21104/111679978-03dcce00-8822-11eb-9502-1ed17c2dbf89.png)

[2021-03-18 18:45] miry commented on #160
@cello86 Is it not part of the tracer: zippkin? I think it should be fixed in https://github.com/rnburn/zipkin-cpp-opentracing/blob/a134d5bb073392a0e2fe23c5fe5ef145c2ceb7ea/zipkin/src/zipkin_core_constants.h#L34

[2021-03-18 18:49] miry commented on #160
According the documentationhttps://github.com/openzipkin/b3-propagation#debug-flag this flag should be 1 (for debug), or any other value. I think need to request help of `API GW` to have other values for this header.

[2021-03-18 19:16] cello86 commented on #160
@miry we noticed that is a part of the zipkin-cpp-opentracing module and it forwards all requests with the x-b3-flags to zero, but on nginx side you can't override it to 0 or 1 in case of debug.

Thanks,
Marcello

[2021-03-25 08:48] miry commented on #140
@aledbf Released a new version of nginx-opentracing. Now it releases modules for Opentracing 1.5.1 and Opentracing 1.6 https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.14.0

The docker image uses Opentracing v1.6.0

[2021-04-13 08:19] godelized opened #162 "Configuration of statically linked tracer"
Hello,

[The reference](https://github.com/opentracing-contrib/nginx-opentracing/blob/f5f33c51e70bcd92265f70d38eada6571a8b7abe/doc/Reference.md#opentracing_load_tracer) documents which tracer to load dynamically and which configuration file to use.
Is it possible to configure the tracer from the nginx configuration when the tracer has been statically linked to nginx?

Thanks :)

[2021-04-17 20:49] miry commented on #132
Jeager tracing released a new version where it supports W3C headers.
Ingress-nginx master has changes with latest jaeger.

[2021-04-17 20:51] #132 closed

[2021-04-17 20:51] #140 closed

[2021-04-17 20:52] miry commented on #129
It was some fix to support jaeger config with endpoint settings. Pls check jaegercpp tracing.

[2021-04-17 20:52] #129 closed

[2021-04-17 20:54] miry commented on #121
If https://github.com/open-telemetry/opentelemetry-collector can support Elastic APM, then there is possobility to use any opentracing tracers and collector export traces to Elastic APM.

[2021-04-17 20:54] #121 closed

[2021-04-18 11:19] sasah commented on #121
https://www.elastic.co/guide/en/apm/get-started/current/open-telemetry-elastic.html

[2021-04-18 11:19] sasah commented on #121
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/elasticexporter

[2021-04-18 11:22] sasah commented on #121
https://docs.nginx.com/nginx/admin-guide/dynamic-modules/opentracing/

[2021-04-18 11:22] sasah commented on #121
https://github.com/opentracing-contrib/nginx-opentracing

[2021-05-12 09:06] arahnale opened #164 "After build undefined simbols"
`Restarting nginx: nginx: [emerg] dlopen() "/usr/lib/nginx/modules/ngx_http_opentracing_module.so" failed (/usr/lib/nginx/modules/ngx_http_opentracing_module.so: undefined symbol: _ZN11opentracing2v329DynamicallyLoadTracingLibraryEPKcRSs)`

[2021-05-12 10:22] arahnale commented on #164
strace :
[code]

nm

[code]

[2021-06-11 13:13] chw-webops opened #167 "Add support for nginx 1.21"
Can we add support for nginx 1.21? It's been stable since May 25th (fixed CVE-2021-23017).

[2021-06-14 19:09] miry commented on #167
Merged and soon will be released in v0.18.0

[2021-06-14 19:09] #167 closed

[2021-06-17 09:18] lathspell opened #169 "Kubernetes health check spams log with "no opentracing context value found""
We use Nginx with Opentracing in a Kubernetes cluster. It's behind an oauth2-proxy which usually genereates an OpenTracing header for every request. The Kubernetes health checks on /liveness and /readiness come without any OpenTracing support and thus our logs are spammed with:

`2021/06/17 09:12:34 [error] 54#54: *587 no opentracing context value found for span context key x_b3_traceid for reques

[2021-06-18 19:10] miry commented on #169
I think it is similar to https://github.com/opentracing-contrib/nginx-opentracing/issues/157

It is possible to disable opentracing per location.

[2021-06-19 11:22] mpiexec opened #170 "Manage opentracing with nginx-variable"
Is it possible to use nginx-variable to manage opentracing ability in some conditions, ie:
[code]
Now I've got that error message:
[code]

[2021-06-21 11:10] miry commented on #170
I think you should create a location with regexp instead of variables to make it work. I try to find the person whom would contribute to the project.

[2021-06-24 07:42] wosc commented on #33
If you're using the `w3c` propagation format and want to log the trace/parent/span ID, it is doable, but somewhat cumbersome: nginx-opentracing provides variables for whatever directly exists in the opentracing SpanContext, and jaeger-client-cpp currently only puts the [whole propagated header](https://github.com/jaegertracing/jaeger-client-cpp/blob/c1d5795/src/jaegertracing/propagation/W3CPropaga

[2021-06-24 14:38] CezarAntohe opened #171 "Mixed tags for a specific location, from other server/location blocks"
Hello all,

First of all, thank you for looking into this issue.

**Description** - please consider the following nginx configuration example, with 2 server blocks:

[code]

When curl-ing any of the locations from either tracing.test1 or tracing.test2, the resulting traces contain tags from the other server or other location as well.
I would expect a curl to **tracing.test1**, location **/tracing1

[2021-06-24 16:30] miry commented on #171
@CezarAntohe Could you please send a PR with your changes and may be add some integration tests.

[2021-06-25 08:26] CezarAntohe commented on #171
@miry Thanks for looking into this matter. Quick question - branching from this repo is not authorised for me. What would be the procedure to open a PR? Fork the master, and push there? Or obtain permissions to branch from master and open a PR from that branch?
Cheers!

[2021-06-25 10:38] miry commented on #171
@CezarAntohe We use default opensource approach: Fork, create branch in the fork, when it is ready github will show you the button to create PR from the branch to this repo.

[2021-06-25 10:50] CezarAntohe commented on #171
Thanks a lot, will open the PR as soon as possible.
Cheers!

[2021-06-28 21:56] pzimno opened #172 "Feature Request - Soft fail when tracer cannot load to prevent taking down Kubernetes ingress-nginx"
[Related ingress-nginx issue](https://github.com/kubernetes/ingress-nginx/issues/7295)

Currently [raising NGX_ERROR ](https://github.com/opentracing-contrib/nginx-opentracing/blob/cb2f415f39bf969db24b0093b183cb6b4e4e24ed/opentracing/src/load_tracer.cpp#L56) results in ingress-nginx going down. This could possibly be resolved by config validation in the ingress-nginx project or a different mechani

[2021-07-01 10:38] CezarAntohe commented on #171
Hi @miry , I've opened a PR, as per your instructions:
https://github.com/opentracing-contrib/nginx-opentracing/pull/173
Thanks a lot, cheers.

[2021-07-02 09:24] maria-farooq opened #174 "Missing Traces for Method based routing (requests that are not redirectced to another location)"
Hi,

## Versions

nginx-plus version: r24
We are configuring nginx using [nginx-ansible-role](https://github.com/nginxinc/ansible-role-nginx): 0.17.4

## Use Case
We have an endpoint where on same URL: request are routed depending on the http METHOD.

For example on this URL: `https://usstaging.restcomm.com/restcomm/2012-04-24/Accounts/AC123/Calls`
- GET is routed an accounting service.
- PUT|POST

[2021-07-02 21:19] ubonagiri commented on #33
in your logs refer variable -  **$opentracing_context_uber_trace_id**   . where as **traceContextHeaderName** configured with **'uber_trace_id'**  as below

  `{
  "service_name": "JAEGER-SERVICE-NAME",
  "sampler": {
    "type": "JAEGER-SAMPLER-TYPE",
    "param": JAEGER-SAMPLER-PARAM
  },
  "reporter": {
    "localAgentHostPort": "JAEGER-REPORTER-LOCAL-AGENT-HOST-PORT"
  },
  "headers": {
    "j

[2021-07-05 09:52] miry commented on #171
Fixed in #173

[2021-07-05 09:52] #171 closed

[2021-07-12 10:24] sriemer commented on #174
Should be raised with Datadog. `nginx-opentracing` lacks subrequest support. Authentication creates subrequests. The tracer is blind and lacking configuration in that case. Our Instana tracer that I'm developing is always on and tracing by default. So we capture those traces. Trace continuity is broken though.
We are working on subrequest support right now. If the dogs want to team up, then that w

[2021-07-14 02:00] huangjiecheng opened #177 "My jaeger version is 1.23, and the jaeger-collector component has enabled --sampling.strategies-reload-interval, but the collected logs show that the sampling strategy is still old"

[2021-07-14 02:05] huangjiecheng commented on #177
When I modify the sampling strategy configuration file, the log also shows that it has been updated. However, the log call chain collected by nginx-opentracing still implements the original sampling strategy.

[2021-07-20 07:51] miry commented on #177
@huangjiecheng Can you make title a bit shorter and move all details in description?
I think the options provided through config file and nginx-opentracing could not controll sampling.

[2021-07-21 08:42] huangjiecheng commented on #177
### Describe the bug
When I used the remote sampling strategy, I modified the sampling strategy configuration file of jaeger-collector, and the call chain collected by jaeger-client-cpp still used the original sampling strategy without refreshing.

### To Reproduce
Steps to reproduce the behavior:

1.Deploy jaeger-agent on the same machine as jaeger-client-cpp and use the default remote sampling s

[2021-07-21 10:02] BBQigniter commented on #122
We have the same error-message after trying to enable opentracing in combination with jaeger-agents

I used this manual: https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/opentracing/

So I created a daemonset for the jaeger-agent which looks like:

[code]

the agent seems to be running fine in it's own namespace, logs looking ok

then we have a small test image which should

[2021-07-27 08:57] sriemer commented on #122
The error message means that there is:
[code]
in the resulting NGINX config. So the order is wrong.

An alternative is patching the Ingress NGINX config template `/etc/nginx/template/nginx.tmpl` directly.

[2021-07-27 12:19] BBQigniter commented on #122
hmm, i see.

I'll have a detailed look asap - for me it feels like the https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/opentracing/ is not complete. I think it is missing info about `opentracing.json`  and how/where `opentracing_load_tracer` is to be configured. I assumed those things are then somehow configured by the annotations that you have to set.

[2021-07-28 15:19] wildone opened #178 "Docker container tags to match nginx version."
Is it possible to have tags for the docker container to also have Nginx versions so it's easier to keep track of what version is running?

[2021-07-28 15:25] BBQigniter commented on #122
I now tried several things with the `nginx.tmpl` and pulling my hair, because it's just superstrange. As noted in one of my posts before, we use here for the moment nginx 0.41.

As far as I have now dug through the `nginx.tmpl` I think I have a hint where the problem is, that the `opentracing_load_tracer` line is not added.

Looking at line 292 in the `nginx.tmpl` https://github.com/kubernetes/ing

[2021-07-29 11:21] miry commented on #178
@wildone Good idea. If you can play with https://github.com/opentracing-contrib/nginx-opentracing/blob/cb2f415f39bf969db24b0093b183cb6b4e4e24ed/ci/do_ci.sh#L32 and have a proposal of tags.

[2021-08-06 13:52] pierlucg-xs commented on #33
Based on @wosc's comment, am I wrong to think that this issue should be opened on https://github.com/jaegertracing/jaeger-client-cpp/ ?

[2021-08-09 11:59] sriemer opened #180 "Wrong URI when using `auth_request` directive"
This is about:
https://github.com/opentracing-contrib/nginx-opentracing/blob/111a491446be502b943e6d919a9971fa51640a96/opentracing/src/ngx_http_opentracing_module.cpp#L55
This uses the unparsed URI. But the parsed URI `$scheme://$http_host$uri` is required for (auth) subrequests.

Got NGINX Plus R24 and the Instana tracer with patched defaults here (tracing is always on, locations aren't traced).
T

[2021-08-17 02:56] wildone commented on #178
You are setting tags manually? If so need to get that process to set the tag to match the version of docker image nginx:latest at the time the pipeline is executed.

CI pickup tag from git `VERSION_TAG="`git describe --abbrev=0 --tags`"`

[2021-08-20 15:05] primeroz opened #181 "When opentracing_trust_incoming_span is set to off also `jaeger-debug-id` gets disabled"
I want to disable client http request that are setting the `Uber-trace-id` to trigger tracing inside my apps, but when i set the option `opentracing_trust_incoming_span` to `off` it also disable the _forcing_ of a trace using the `jaeger-debug-id` header.

is this by design ?

To me it feels like they should either be 2 different flags in the config or it should not happen.

[2021-08-28 02:53] lucacome opened #184 "Add Docker images for supported architectures"
The base Docker image for NGINX is published for a variety of linux architectures. Would it make sense to match them as close as possible?

I'm not very familiar with CircleCI and couldn't figure out if it comes with Docker [Buildx](https://docs.docker.com/buildx/working-with-buildx/) already installed (and I don't have a way to test it), but if it does it's just a simple as simple as
[code]
I was

[2021-08-28 02:54] lucacome commented on #184
This is the full error for `linux/arm` if it helps

[code]

[2021-08-28 02:59] lucacome commented on #184
I see there's already an issue about arm https://github.com/opentracing-contrib/nginx-opentracing/issues/91

[2021-09-13 23:58] lucacome commented on #152
I wouldn't mind helping with automation and releases if you still need help.

[2021-09-14 00:57] rnburn commented on #152
@lucacome - I sent you an invite.

[2021-09-14 13:42] #184 closed

[2021-09-28 14:56] #72 closed

[2021-09-28 15:13] lucacome commented on #72
We're now building Dockcer images for Alpine, does that help?

[2021-10-12 02:45] zhuizhuhaomeng opened #217 "port 55680 is not listen by opentelemetry-collector in example/go/otel"
https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/go/otel

I got the following error  in the terminal of `docker-compose up --build`  when execute `curl localhost:8081`
[code]

[2021-10-12 02:46] zhuizhuhaomeng commented on #217
@miry can you help with this?

[2021-10-12 08:41] miry commented on #217
@zhuizhuhaomeng Can you check #218 if it works for you.

[2021-10-13 13:16] #217 closed, assigned to nobody

[2021-11-10 01:19] zhongshan365 opened #225 "not binary compatible"
I want to integrate opentracing into kong. But i got follow error :
/usr/local/share/lua/5.1/kong/cmd/start.lua:24: nginx configuration is invalid (exit code 1):
nginx: [emerg] module "/usr/local/kong/nginx/modules/ngx_http_opentracing_module.so" is not binary compatible in /usr/local/kong/nginx.conf:10
nginx: configuration file /usr/local/kong/nginx.conf test failed

I use follow versions:
kong v

[2021-11-11 00:47] t2karlma commented on #83
+1

[2021-11-11 21:28] chrisforrette commented on #225
I'm currently struggling with this exact issue as well. I've attempted a few approaches...

### Binary install

I was trying to install the binary in a Docker image like so (checking `nginx -V` showed me `nginx version: openresty/1.19.3.2` so I'm using the 1.19.3 binary):

[code]

And got this:

[code]

And I gathered from this issue: opentracing-contrib/nginx-opentracing#72 that this is because t

[2021-11-12 02:09] lucacome commented on #225
@chrisforrette
`NGINX_VERSION` in the Dockerfile here https://github.com/opentracing-contrib/nginx-opentracing/blob/master/Dockerfile#L226 is an env variable that is already inside the container, it's not read from the build arguments.

You would have to manually change https://github.com/opentracing-contrib/nginx-opentracing/blob/master/Dockerfile#L213 and https://github.com/opentracing-contrib/n

[2021-11-16 09:44] miry commented on #225
You can check how ingress-nginx is building: https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/build.sh

[2021-11-19 01:53] chrisforrette commented on #225
@lucacome Thanks for the info! I tried hard-coding the Nginx version to `1.19.3` in the Dockerfile in this repo, building it, then referencing it in my Dockerfile but ended up with the same `is not binary compatible` error I got when installing the binary:

[code]

A cursory google search tells me I need to remove `--with-compat` from the nginx setup but that's easier said than done as that's buri

[2021-11-19 01:54] chrisforrette commented on #225
@miry Thanks for sharing that! I'm hoping to avoid building from scratch but I might end up there...

[2021-11-22 17:57] Aramack opened #233 "Add support for nginx-1.20.2"
nginx-1.20.2, the latest  stable version, has been released (https://mailman.nginx.org/pipermail/nginx-announce/2021/000311.html). Add to the support builds module.

[2021-11-22 19:30] #233 closed

[2021-11-23 04:32] lucacome commented on #225
@chrisforrette I tried building the module with this Dockerfile for Alpine from Openresty https://github.com/openresty/docker-openresty/blob/1.19.9.1-3/alpine/Dockerfile but still says that `is not binary compatible`. I'm not really familiar with openresty or kong, so I think I'm out of ideas for now 😞

[2021-11-26 04:48] james-callahan opened #236 "Does opentracing_trust_incoming_span erase baggage?"
When setting `opentracing_trust_incoming_span=false`, does baggage get erased?
I couldn't see any code to do so (but I haven't tested).

Otherwise the potential issue is that an upstream will think that baggage is being added by nginx itself.

[2021-11-29 08:28] miry commented on #236
@james-callahan Do you have an example how we can reproduce the problem?

[2021-11-29 22:54] chrisforrette commented on #225
So since Kong = OpenResty + Lua + Nginx, and `nginx-opentracing` is also on top of Nginx, we've taken a variety of approaches to try to compile everything in the right way and can't seem to get them to play nicely so we're resorting to writing a custom Kong plugin for tracing 😕

Thanks anyway for your help @lucacome!

[2021-11-30 10:52] sriemer commented on #83
The problem is that the NGINX directive `proxy_set_header` voids `opentracing_propagate_context` as it is based on `proxy_set_header` internally. So you need to add `opentracing_propagate_context` where ever there is `proxy_set_header`. It is documented in the Instana NGINX tracing docs: https://www.instana.com/docs/ecosystem/nginx/#edit-the-nginx-configurations.
Unfortunately, there is no way to

[2021-12-02 04:39] james-callahan commented on #236
I would verify it by:
  - Setting up an nginx configured to use jaeger, set `opentracing_trust_incoming_span=false`
  - Send a request to nginx with a baggage header set, e.g. `uberctx-foo: bar`
  - Check if that header made it through to the upstream service. It *shouldn't*

[2021-12-09 06:53] mpiexec opened #243 "Multi-environment tracing"
Hello

Is it possible to use different settings (server, options) for multiple virtual servers at the same time?
Nginx config example:

[code]

[2021-12-09 10:38] miry commented on #243
@mpiexec You can update one of examples for experiments to prove your theory. Example: https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/go/otel

[2022-01-27 13:24] cbeauchesne opened #257 "Assets in github release are missing on v0.24.0"
Regarding previous releases, the [v0.24.0](https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.24.0) have barely no built asset shipped.

We have a lot of stuff that rely on those assets. Could you tell me if it's expected, or if it's a bug in the release process?

[2022-01-27 13:36] Tyler-2 commented on #257
Reporting same, this broke our build process which is based on Datadog' documentations for getting opentracing on nginx.

https://github.com/DataDog/dd-opentracing-cpp/blob/master/examples/nginx-tracing/Dockerfile

In particular, this fails:
[code]

Because the resulting path is invalid:
[code]

And as stated this is because there are no assets here:
https://github.com/opentracing-contrib/nginx-op

[2022-01-27 16:18] lucacome commented on #257
Hi @cbeauchesne sorry about that. Apparently, a token expired in the pipeline that uploads the artifacts and I don't have access there, we need help from @miry or @rnburn I believe

[2022-01-27 20:31] lucacome commented on #257
@cbeauchesne @Tyler-2 the assets are now in the release, sorry again for the inconvenience

[2022-01-27 20:34] Tyler-2 commented on #257
Thank you for your service! Will letcha know when I've updated our release.

[2022-01-28 08:54] cbeauchesne commented on #257
Thanks a lot @lucacome

[2022-02-01 04:56] lucacome commented on #257
Closing this since it was resolved

[2022-02-01 04:56] #257 closed

[2022-02-01 13:54] Tyler-2 commented on #257
Updated our release, all's well. Thanks for the quick fix!

[2022-04-21 23:06] edify42 commented on #225
I did notice when we tried using the debian docker images they weren't built with the `--with-compat` option - [simple search of the openresty docker github](https://github.com/openresty/docker-openresty/search?q=compat)

At the time of writing, only the `alpine, focal and bionic` (alpine + ubuntu) images had the nginx build option attached. I went through the commit history for the debian `buster

[2022-04-27 14:30] pauqilaz opened #268 "Query parameters in "http.url" tag"
The http.url span tag is currrently set to "$scheme://$http_host$request_uri" which includes the query parameters.
Since these are more likely to contain sensitive information, would it make sense to remove the query parameters from the tag ?

Thanks!

[2022-04-27 20:51] miry commented on #268
@pauqilaz You are right. I would advice to obfuscate/drop tag in opentelemetry collector side.
Another suggestion to move sensitive information from query to headers, just because of this.
The url is mostly likely be logged or shared in other places.

[2022-04-28 08:43] pauqilaz commented on #268
Removing it altogether is one possibility, since it can still be re-added as an optional tag. Alternatively, replacing it with "$scheme://$http_host**$uri**" should already remove the query parameters.

[2022-04-28 10:32] miry commented on #268
More about semantic convention of `http.url` in https://opentracing.io/specification/conventions/

http.url | string | URL of the request being handled in this segment of the trace, in standard URI format. E.g., "https://domain.net/path/to?resource=here"
-- | -- | --

[2022-04-28 10:33] #243 closed

[2022-06-21 21:01] levonet opened #284 "Support OpenTelemetry C++"
[jaeger-client-cpp](https://github.com/jaegertracing/jaeger-client-cpp) is DEPRECATED.
An alternative is [opentelemetry-cpp](https://github.com/open-telemetry/opentelemetry-cpp). It also supports other [exporters](https://github.com/open-telemetry/opentelemetry-cpp/tree/main/exporters).

[2022-06-22 10:52] miry commented on #284
Good catch.

There is an example how opentelemetry-cpp could be built with nginx: https://github.com/kubernetes/ingress-nginx/pull/8585/files

Here new question should it be in this repo?
If not where the `nginx-opentelemetry` repo should live?

As I understand it should be under https://github.com/open-telemetry or https://github.com/open-telemetry-contrib

@lucacome What do you think about it?

[2022-06-27 22:03] lhriley opened #292 "Support Datadog metrics over unix socket"
According to the documentation, the datadog opentracing plugin supports a variety of transport options not currently supported by this framework.

Specifically, it looks like we should be checking for the config in here:
https://github.com/opentracing-contrib/nginx-opentracing/blob/c2b969f2c88331eeb8c66b3b74aa759ad686e67b/example/trivial/datadog/go/server.go#L19-L20

From their [configuration docs

[2022-07-08 15:11] sriemer commented on #284
Speaking for Instana/IBM Observability by Instana APM:

For now, the NGINX OpenTelemetry example is much harder to configure and does not provide huge advantages over the OpenTracing variant. It shares a lot of the same issues like e.g. that subrequests coming from background caching cannot be traced or that the trace continuity requires setting some `*propagate*` setting. Also response headers ar

[2022-07-15 13:36] Dhivyakumaresan opened #296 "seg fault errors during span extraction"
Hi,

we are receiving below seg faults. i have given the backtrace from core dump. could someone look at and provide some insights why the error occurs. we suspect the error is due to missing span headers.

we are using Datadog tracer.

Jul 14 16:49:45 my-instance kernel: nginx[7330]: segfault at 4 ip 00007efebda15a1b sp 00007ffdec40f470 error 4 in libdd_opentracing_plugin.so[7efebd9c3000+f0000]

[2022-07-15 21:22] sriemer commented on #296
Cannot tell you from just the backtrace. Look at registers (`info registers`) and disassemble (`disasm`). There is an option to see the C++ source between the disassembly. Enable full argument listing.
Request support from Datadog as this is their tracer where this crashes.

[2022-08-12 10:47] zhzure opened #311 "start nginx failed,`libopentracing.so.1 can not open`"
hi, thanks for this amazing repo!
when I run cmd
` ./nginx -t -c /etc/nginx/nginx.conf`
It output
`nginx: [emerg] dlopen() "/usr/local/nginx/modules/ngx_http_opentracing_module.so" failed (libopentracing.so.1: cannot open shared object file: No such file or directory) in /etc/nginx/nginx.conf:9`
but I do have this .so file:
[code]
I have been struggled for days, but i still can't figure it out, an

[2022-08-18 14:28] miry commented on #311
@zhzure Check installation instructions: https://github.com/opentracing-contrib/nginx-opentracing/tree/master/example/trivial/ubuntu-x86_64

You can download module from Github release page. Example latest  https://github.com/opentracing-contrib/nginx-opentracing/releases/tag/v0.26.0

[2022-08-19 09:25] zhzure commented on #311
thanks, I will try it asap

[2022-08-19 09:25] #311 closed

[2022-09-02 08:26] BlitzInternet opened #321 "Traces are not delivered after a few days of runtime"
using docker image opentracing/nginx-opentracing:0.26.0-alpine
with a config:

[code]

the problem: after several days of flawless operation, the spans are no longer sent to the collector endpoint.
the trace-ids are still generated and passed on correctly, which causes the a warning of "<root span not yet received>" in tempo when trying to view the trace.
not a single span is received then.
once t

[2022-09-07 08:04] miry commented on #321
@BlitzInternet Can you create a script with docker compose, how can we reproduce it.

[2022-10-31 21:17] michalsteyn opened #351 "Zipkin Support in the OpenResty Docker Image"
I see an old issue #114 asking if it is possible to use Zipkin with the OpenResty build. It was closed without any further discussion.

What would be required to add Zipkin to the Docker build for OpenResty? Is there anything preventing this from working?

[2022-11-01 11:32] miry commented on #351
As I remember Zipkin did not work with latest Opentracing 1.6 cpp library.

[2022-11-24 09:46] oldthreefeng commented on #102
@mahendranathreddy54
how to resolve ??

[2022-11-25 10:00] sriemer commented on #102
0x7f89e86a88ab - 0x7f89e868b000 = 0x1d8ab
Getting the binary from https://github.com/rnburn/zipkin-cpp-opentracing/releases/tag/v0.5.2.
`objdump -S linux-amd64-libzipkin_opentracing_plugin.so | less`
[code]
Crashes here when extracting the span context. Somewhere in this function: https://github.com/rnburn/zipkin-cpp-opentracing/blob/f69593138ff84ca2f6bc115992e18ca3d35f344a/zipkin_opentracing/src/

[2022-11-25 10:12] sriemer commented on #102
@oldthreefeng Report the issue to https://github.com/rnburn/zipkin-cpp-opentracing instead.